.search {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    flex-direction: column;
  }
  .searchisTrue {
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    float: left;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    flex-direction: column;
  }
