# coverage.py configuration
# see: https://coverage.readthedocs.io/en/coverage-5.3/config.html
[run]
branch = True
omit =
  src/crkeng/site/settings.py
  src/morphodict/tests/*

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    if settings\.DEBUG\b

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:

    # an ellipses all alone on its own line (e.g., when defining a Protocol):
    ^\\s*[.][.][.]\\s*$

# vim: set ft=dosini:
