# Do not copy files these when dealing with Docker

# Dependencies
node_modules/
.venv/

# Logs
CreeDictionary/DatabaseManager/logs/
*.log

# Caches
.hypothesis/
.mypy_cache
.pytest_cache/

# Databases
*.sqlite3

# Tests
CreeDictionary/tests/
./cypress

# Development files
.git/
.vscode/
.idea/
