# See: https://docs.docker.com/engine/reference/builder/#dockerignore-file

# Do not copy files these when dealing with Docker

# Dependencies
node_modules/
.venv/

# Logs
*/*.log

# Caches
.hypothesis/
.mypy_cache
.pytest_cache/

# Databases
**/*.sqlite3

# Tests
src/morphodict/tests/
cypress/

# Development files
.git/
.vscode/
.idea/
.github/

# Giant model files that are better to mount from filesystem/git-lfs than
# to push around in every docker image
src/**/resources/vector_models/

# When running `make debug-context`, prevent from adding itself
context/

# Do NOT inherit the .env file from the context
/.env
# Prevent changes from the Dockerfile from requiring a new docker build!
docker/
# but, include launcher script
!docker/app.sh
