[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-datadir = "*"
pytest-mypy = "*"
hypothesis = {version = ">=6.138", extras = ["django"]}
pysnooper = "*"
python-levenshtein = "*"
django-debug-toolbar = "*"
isort = "*"
toml = "*"
mypy = "~=1.7"
django-stubs = "~=4.2"
pytest-env = "*"
jupyterlab = "*"
certifi = ">=2024.07.04"
appnope = "*"
pandas = "*"
statsmodels = "*"
pandas-stubs = "*"
sphinx = "*"
myst-parser = "*"
jupyter = "*"


[packages]
colorama = "*"
coverage = "*"
cree-sro-syllabics = ">=2020.6.23"
Django = "~=4.2"
typing-extensions = "*"
attrs = "*"
django-js-reverse = "*"
secure = "*"
snowballstemmer = "*"
dawg2 = "*"
environs = {extras = ["django"], version = "*"}
hfst-optimized-lookup = "*"
tqdm = "*"
whitenoise = "*"
foma = {subdirectory = "foma/python", git = "https://github.com/andrewdotn/foma"}
uwsgi = "*"
gensim = "*"
scipy = "*"
more-itertools = "*"
types-requests = "*"
requests = "*"
nltk = "*"

[scripts]
# unit tests
test = "pytest --mypy src"
runserver_for_tests = "env USE_TEST_DB=true ./crkeng-manage runserver"
# format
format = "black src"
# building the test db takes about half a minute
ensuretestdb = "env USE_TEST_DB=true ./crkeng-manage ensuretestdb"

[requires]
python_version = "3.12"
