appdirs==1.4.3
atomicwrites==1.3.0
attrs==19.1.0
autopep8==1.4.4
black==19.3b0
Click==7.0
colorama==0.4.1
coverage==4.5.3
cree-sro-syllabics==2019.2.18
Django==2.1.7
fst-lookup==2019.3.25
hfstol==1.1.4
importlib-metadata==0.18
mod-wsgi==4.6.5
more-itertools==7.2.0
packaging==19.0
pluggy==0.12.0
py==1.8.0
pycodestyle==2.5.0
pyparsing==2.4.1.1
pytest==5.0.1
python-dateutil==2.8.0
pytz==2019.1
six==1.12.0
toml==0.10.0
tqdm==4.33.0
wcwidth==0.1.7
zipp==0.5.2
