/**
 *
 */
.toast {
    --position-away-from-screen: 2rem;

    position: fixed;
    left: 2rem;
    bottom: var(--position-away-from-screen);
    margin: 0;

    border: #CCC solid 1px;
    border-radius: 4px;

    font-size: 1.5em;

    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 95%);

    transition: all 200ms ease-in-out;
}

.toast--hidden {
  opacity: 0;
  transform: translateY(calc(var(--position-away-from-screen) + 4em));
}

.toast__message {
  margin-block: 0;
}

.toast--success .toast__message {
  color: #17B003;
}
