/**
 *
 */
.toast {
  --position-away-from-screen: 2rem;

  position: fixed;
  left: 2rem;
  right: 2rem;
  bottom: var(--position-away-from-screen);
  width: calc(100vw - 2 * var(--position-away-from-screen));
  margin: 0;

  border: 0;
  border-radius: 4px;

  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.8);
  color: white;
  background-color: black;

  transition: all 200ms ease-in-out;
}

.toast--success {
  background-color: #178A4D;
}

.toast--hidden {
  opacity: 0;
  transform: translateY(calc(var(--position-away-from-screen) + 4em));
}

.toast__message {
  margin-block: 0;
  text-align: start;
}
