{% spaceless %}

    {% comment %}
    The paradigm table.

    Parameters:
      paradigm_tables: Paradigm (see morphodict.paradigm.panes.Paradigm)

    Example:

        |             | One     | Many      |
        | Here        | ôma     | ôhi       |
        | There       | anima   | anihi     |
        | Over Yonder | nêma    | nêhi      |

    JavaScript hooks:
     - .js-replaceable-paradigm: encapsulates the ENTIRE paradigm so that
       JavaScript can replace the contents with a different paradigm.

  {% endcomment %}

    {% load morphodict_orth %}
    {% load morphodict_extras %}
    {% load relabelling %}
    <script>
        var request_entries = {{paradigm.recording_list|safe}}
        var url;
        function entry_key(s) {
            {% if "moswacihk" in paradigm.speechdb_sources %}
            return s["wordform"].replaceAll("ē", "ê").replaceAll("ī", "î").replaceAll("ō", "ô").replaceAll("ā", "â")
            {% else %}
            return s["wordform"]
            {% endif %}
        }
        function search_key(s, source){
            if ("moswacihk" == source){
                return s.replaceAll("ê", "ē").replaceAll("î", "ī").replaceAll("ô", "ō").replaceAll("â", "ā")
            } else if ("maskwacis" == source){
                return s.replaceAll("ý", "y")
            } else {
                return s
            }
        }
        var chunks = []
        var chunk = request_entries.splice(0,30)
        while(chunk.length > 0){
            chunks.push(chunk)
            chunk = request_entries.splice(0,30)
        }
        var promises = []
        {% for source in paradigm.speechdb_sources %}
            chunks.forEach((chunk) => {
            url = new URL("https://speech-db.altlab.app/{{source}}/api/bulk_search")
            chunk.forEach(element => {
                url.searchParams.append('q',search_key(element, source))
                url.searchParams.append('exact', true)
            });
            promises.push(fetch(url).then(res => res.json()).then((json) =>{
                let ok = {}
                let best = {}
                json["matched_recordings"].forEach((recording) => {
                    if (recording["is_best"]) {
                        best[entry_key(recording)]={                        
                            "recording_url": recording["recording_url"],
                        "speaker": recording["speaker"],
                        }
                    } else {
                        ok[entry_key(recording)]={                        
                            "recording_url": recording["recording_url"],
                        "speaker": recording["speaker"],
                        }
                    }
                });                
                return {"ok":ok, "best": best}   
            }).catch((reason) => console.log(reason)));

        })
        {% endfor %}
        Promise.all(promises).then((values) => {
            let ok = {}
            let best = {}
            values.forEach((result) => {
                for (const [key, value] of Object.entries(result["ok"])){
                    ok[key] = value
                }

                for (const [key, value] of Object.entries(result["best"])){
                    best[key] = value
                }
            })
            {% comment %}
                now I can begin adding the elements as they belong
                {% endcomment %}
                for (var element of document.getElementsByClassName("paradigm-cell-recording")){
                    let word = element.getAttribute("data-inflection")
                    var recording = best[word]

                    if(!recording){
                        recording = ok[word]
                    }
                    if(recording){
                        if (recording["recording_speaker"] == "SDOL"){
                            element.innerHTML = ("&nbsp;🤖")
                        } else {
                            element.innerHTML = ("&nbsp;🧑🏽‍🦱")
                        }
                        let audio = new Audio(recording["recording_url"]);
                        audio.preload = "none";
                        let button = document.getElementById("template:play-button").content.cloneNode(true);                     
                        button.querySelector("button").addEventListener("click", () => {audio.play(); console.log(audio)}
                    );
                        element.appendChild(button)
                        
                    }
                }
        })
    </script>
    <section class="definition__paradigm paradigm js-replaceable-paradigm" data-cy="paradigm">
        {# TODO: use dynamic pane arrangements to get rid of this hacky class. #}
        <div class="HACK-overflow-x-scroll">
            <table class="paradigm__table">
                {% for pane in paradigm.panes %}
                    <tbody>
                    {% for row in pane.tr_rows %}
                        {% if row.is_header %}
                            <tr>
                                <th class="paradigm-header" colspan="{{ paradigm.max_num_columns }}"
                                >{% relabel row.fst_tags %}</th>
                            </tr>
                        {% else %}
                            <tr class="paradigm-row">
                                {% for cell in row.cells %}
                                    {% if cell.should_suppress_output %}
                                        {% comment %} Produce NO output! {% endcomment %}
                                    {% elif cell.is_label %}
                                        <th scope="{{ cell.label_for }}" rowspan="{{ cell.row_span }}"
                                            class="paradigm-label paradigm-label--{{ cell.label_for }}">
                                            {% relabel cell.fst_tags %}
                                        </th>
                                    {% elif cell.is_missing %}
                                        <td class="paradigm-cell paradigm-cell--missing">&mdash;</td>
                                    {% elif cell.is_empty %}
                                        <td class="paradigm-cell paradigm-cell--empty"></td>
                                    {% else %}
                                        <td class="paradigm-cell paradigm-cell--{% observed_or_unobserved cell.inflection %}">
                                            <div data-has-tooltip data-cy="paradigm-cell--{% observed_or_unobserved cell.inflection %}" style="float:left;">
                                            {% if show_morphemes == "everywhere" or show_morphemes == "paradigm" %}
                                                {% if cell.morphemes %}
                                                    {% orth cell.morphemes|join:"·" %}
                                                {% else %}
                                                    {% orth cell.inflection %}
                                                {% endif %}
                                            {% else %}
                                                {% orth cell.inflection %}
                                            {% endif %}
                                        </div>                                        
                                        <div class="tooltip" role="tooltip">
                                            <strong>{{cell.inflection}}</strong>:
                                            <ol>
                                            {% for inflection in lemma|filter_inflections:cell.inflection %}
                                                {% for definition in inflection.definitions.all %}
                                                <li>{{definition}}</li>
                                                {% endfor %}
                                            {% endfor %}
                                            </ol>
                                           <div class="tooltip__arrow" data-popper-arrow></div>
                                       </div>
                                       <div class="paradigm-cell-recording" data-inflection="{{cell.inflection}}"></div>
                                    </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %} {# /rows #}
                    </tbody>
                {% endfor %} {# /paradigm.panes #}
            </table>
        </div>

        {% include "morphodict/components/paradigm-size-button.html" %}
    </section>
{% endspaceless %}
