<!DOCTYPE html>
<html lang="en" class="perfect-scrollbar-off nav-open">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% load static %}
    <link rel="stylesheet" type="text/css"
        href="{% static "cssTemplate/black-dashboard/assets/css/black-dashboard.min.css" %}">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <title>Cree Dictionary</title>
</head>

<body>
    <div>
        <div className="container-fluid" id="app">
            <!-- React -->
        </div>
    </div>
    {% load static %}
    <script src="{% static "React/main.js" %}"></script>
</body>

</html>