<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://tipato99.github.io/black-dashboard-master/assets/css/black-dashboard.min.css">
    <title>Cree Dictionary</title>
</head>

<body>
    <div>
        <div className="container" id="app">
            <!-- React -->
        </div>
    </div>
</body>
{% load static %}
<script src="{% static "React/main.js" %}"></script>

</html>