{% load static %}
{% load morphodict_orth %}

<div class="top-bar app__header">
  <header class="branding top-bar__logo">
    <a class="branding__logo" href="{% url 'cree-dictionary-index' %}">
      <img class="branding__image" src="{% static 'CreeDictionary/images/itwewina-192.png' %}" alt="mîkiwâhp (teepee) logo">

      <hgroup class="branding__text">
        <h1 class="branding__heading branding__title">{% orth MORPHODICT_DICTIONARY_NAME %}</h1>
        <p class="branding__heading branding__subtitle" role="doc-subtitle">{{ MORPHODICT_SOURCE_LANGUAGE_NAME }} Dictionary</p>
      </hgroup>
    </a>
  </header>

  <nav class="top-bar__nav">
    <details class="toggle-box toggle-box--with-menu close-on-click-away">
      <summary id="settings-menu__button" class="toggle-box__toggle" data-cy="settings-menu"
               aria-haspopup="menu" tabindex="0">Settings</summary>

      <div class="menu toggle-box__menu" aria-labelledby="settings-menu__button">
        <div class="menu__category">
          <h3 class="menu__header">Show Cree words in…</h3>
          <ul class="menu__choices" data-cy="orthography-choices">
            <li class="menu-choice menu-choice--selected">
              <button data-orth-switch value="Latn" class="unbutton fill-width">
                <span class="menu-choice__label"> SRO (êîôâ) </span>
              </button>
            </li>
            <li class="menu-choice">
              <button data-orth-switch value="Latn-x-macron" class="unbutton fill-width">
                <span class="menu-choice__label"> SRO (ēīōā) </span>
              </button>
            </li>
            <li class="menu-choice">
              <button data-orth-switch value="Cans" class="unbutton fill-width">
                <span class="menu-choice__label"> Syllabics </span>
              </button>
            </li>
          </ul>
        </div>

        <hr class="menu__separator">

        <div class="menu__category">
          <a href="{% url 'cree-dictionary-settings' %}" class="menu-choice" data-cy="settings-link">
            <span class="menu-choice__label fill-width"> View all settings</span>
          </a>
        </div>
      </div>
    </details>
  </nav>

  {% include './search.html' %}
</div>
{# vim: set ft=htmldjango: et sw=t ts=2 sts=2 #}
