{% spaceless %}
  {% comment %}
    Displays preverbs and reduplication in order
    of occurrence in search query.

    Parameters:
      result: SerializedSearchResult

    Example:

      Preverb: ê- [i]
      Reduplication: ma [i]
      Preverb: miyo- [i]
      Reduplication: mâh [i]
      Preverb: mâmawi- [i]
      Reduplication: na [i]

  {% endcomment %}

  {% load creedictionary_extras %}
  {% load morphodict_orth %}
  {% load static %}

  {# show preverb and reduplication breakdown #}
  <ol class="preverb-breakdown">
    {% for item in result.lexical_info %}
      <li>
          <span>{{ item.type }}
            {% if item.type != "Initial Change" %}: {% endif %}
            {% if item.id %}
                <a href="{{ item.url }}">{{ item.text}}</a>
              {% else %}
                {{ item.text}}
              {% endif %}
          </span>


          <div tabindex="0" class="preverb-breakdown__tooltip-icon" data-has-tooltip data-cy="information-mark">
            <img
              src="{% static 'morphodict/img/fa/info-circle-solid.svg' %}"
              alt="preverb breakdown">
          </div>
          <div class="tooltip" role="tooltip">
            {% for word in item.entry %}
            {% for definition in word.definitions %}
                <p class="preverb-breakdown__preverb-definition">
                    <span class="preverb-breakdown__preverb-definition-text">{{ definition.text}}</span>
            </p>
            {% endfor %}
            {% endfor %}
            <div class="tooltip__arrow" data-popper-arrow></div>
          </div>
      </li>
    {% endfor %}
  </ol>
{% endspaceless %}
