{% spaceless %}

  {% comment %}
    The paradigm label switcher.

    Parameters:
      <none>

    Example:
      [ Show plain English labels ↓ ]
      | Plain English labels        |
      | Linguistic labels           |
      | nêhiyawêwin labels          |
      `-----------------------------'

    Assumptions:
      - `preferences` can be used to access the `paradigm_label` preference

  {% endcomment %}

  <div class="menu-bar menu-bar--align-end">
    <details class="menu-bar__item dropdown dropdown--align-end close-on-click-away">
      <summary class="dropdown__label" data-cy="open-paradigm-label-switcher">Show {{ preferences.paradigm_label.current_label }}</summary>
      <div class="menu dropdown__menu" data-cy="paradigm-label-options">
        <ul class="unbullet">
          {% for value, label in preferences.paradigm_label.choices_with_labels %}
          <li class="menu-choice{% if value == preferences.paradigm_label.current_choice %} menu-choice--selected{% endif %}">
            <form method="POST" action="{% url "cree-dictionary-change-paradigm-label" %}">
              <button type="submit" class="unbutton fill-width"
                      name="paradigmlabel" value="{{ value }}">
                <span class="menu-choice__label">{{ label|capfirst }}</span>
              {% csrf_token %}
              </button>
            </form>
           {% endfor %}
        </ul>
      </div>
    </details>
  </div>
{% endspaceless %}
