{% spaceless %}

  {% comment %}
    The paradigm label switcher.

    Parameters:
      <none>

    Example:
      [ Show plain English labels ↓ ]
      | Plain English labels        |
      | Linguistic labels           |
      | nêhiyawêwin labels          |
      `-----------------------------'

    Assumptions:
      - `preferences` can be used to access the `paradigm_label` preference

  {% endcomment %}

  <div class="menu-bar menu-bar--align-end">
    <details class="menu-bar__item dropdown dropdown--align-end close-on-click-away">
      <summary class="dropdown__label" data-cy="open-paradigm-label-switcher">Show {{ preferences.display_mode.current_label }}</summary>
      <div class="menu dropdown__menu" data-cy="paradigm-label-options">
        <ul class="unbullet">
          {% for value, label in preferences.display_mode.choices_with_labels %}
          <li class="menu-choice{% if value == preferences.display_mode.current_choice %} menu-choice--selected{% endif %}">
            <form method="POST" action="{% url "preference:change" "display_mode" %}">
              <button type="submit" class="unbutton fill-width"
                      name="display_mode" value="{{ value }}">
                <span class="menu-choice__label">{{ label }}</span>
              {% csrf_token %}
              </button>
            </form>
           {% endfor %}
        </ul>
      </div>
    </details>
  </div>
{% endspaceless %}
