{% extends 'morphodict/base.html' %}

{% block prose %}
{% spaceless %}
<section id="contact-us" class="prose box box--spaced">
  <h2 class="prose__section-title">Contact us</h2>
  <p>Email us at
  <a href="mailto:{{ MORPHODICT_CONTACT_EMAIL }}" class="about__link">{{ MORPHODICT_CONTACT_VISIBLE_EMAIL }}</a>.
  Alternatively, you can also use this structured
  <a href="{{MORPHODICT_CONTACT_FORM}}">feedback form</a></a>.
  </p>
  <p> Let us know about any bugs, glitches, issues with the dictionary, or
  incorrect information you find. You can also suggest features and
  improvements. </p>
  </section>
{% endspaceless %}
{% endblock %}

{# vim: set ft=htmldjango et ts=2 sw=2 sts=2 : #}
