[Unit]
Description=itwewina service with docker-compose

[Service]
User=itwewina
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/opt/docker-compose/itwewina/cree-intelligent-dictionary/docker
ExecStart=/usr/bin/docker-compose up -d --remove-orphans
ExecStop=/usr/bin/docker-compose down

[Install]
WantedBy=multi-user.target