#tutorial on docker-compose service file:
#https://gist.github.com/mosquito/b23e1c1e5723a7fd9e6568e5cf91180f
[Unit]
Description=%i service with docker-compose

[Service]
Type=oneshot
RemainAfterExit=true
# docker-compose@itwewina/cree-intelligent-dictionary
WorkingDirectory=/opt/docker-compose/%i
ExecStart=/usr/local/bin/docker-compose up -d --remove-orphans
ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=multi-user.target
