{% extends 'CreeDictionary/base.html' %}

{% block content %}
<main class="app__content app__pane">
  <section class="prose box">
    <h2>Source Materials</h2>

    <h3> Plains Cree </h3>
    <p>The computational model for analyzing Plains Cree words and generating
    the various inflectional paradigms is based on the lexical materials and
    scientific research in nêhiyawêwin : itwêwina / Cree: Words (Compiled by
    Arok Wolvengrey. Regina: Canadian Plains Research Center, 2001), and
    described in Modeling the Noun Morphology of Plains Cree (Conor Snoek,
    Dorothy Thunder, Kaidi Lõo, Antti Arppe, Jordan Lachler, Sjur Moshagen
    &amp; Trond Trosterud, 2014) and Learning from the Computational Modeling
    of Plains Cree Verbs (Atticus G. Harrigan, Katherine Schmirler, Antti
    Arppe, Lene Antonsen, Trond Trosterud &amp; Arok Wolvengrey. Morphology,
    2018).</p>

    <h3> Plains Cree ↔ English </h3>
    <p>The bilingual Dictionary for Plains Cree and Cree are based on the
    lexical materials in nêhiyawêwin : itwêwina / Cree: Words. (Compiled by
    Arok Wolvengrey. Regina: Canadian Plains Research Center, 2001), and in
    the Maskwacîs Dictionary of Cree Words / Nehiyaw Pîkiskweninisa
    (Maskwachees Cultural College, Maskwacîs, 2009).</p>
  </section>
</main>
{% endblock %}
{# vim: set ft=htmldjango et ts=2 sw=2 sts=2 : #}
