{% extends 'CreeDictionary/base.html' %}
{% load static %}

{% block content %}
<main class="app__content app__pane">
  <section id="source-materials" class="prose box box--spaced">
    <h2 class="prose__section-title">Source Materials</h2>

    <h3 class="prose__heading"> Plains Cree </h3>
    <p>The computational model for analyzing Plains Cree words and generating
    the various inflectional paradigms is based on the lexical materials and
    scientific research in nêhiyawêwin : itwêwina / Cree: Words (Compiled by
    Arok Wolvengrey. Regina: Canadian Plains Research Center, 2001), and
    described in Modeling the Noun Morphology of Plains Cree (Conor Snoek,
    Dorothy Thunder, Kaidi Lõo, Antti Arppe, Jordan Lachler, Sjur Moshagen
    &amp; Trond Trosterud, 2014) and Learning from the Computational Modeling
    of Plains Cree Verbs (Atticus G. Harrigan, Katherine Schmirler, Antti
    Arppe, Lene Antonsen, Trond Trosterud &amp; Arok Wolvengrey. Morphology,
    2018).</p>

    <h3 class="prose__heading"> Plains Cree ↔ English </h3>
    <p>The bilingual Dictionary for Plains Cree and Cree are based on the
    lexical materials in nêhiyawêwin : itwêwina / Cree: Words. (Compiled by
    Arok Wolvengrey. Regina: Canadian Plains Research Center, 2001), and in
    the Maskwacîs Dictionary of Cree Words / Nehiyaw Pîkiskweninisa
    (Maskwachees Cultural College, Maskwacîs, 2009).</p>

    <h3 class="prose__heading"> Spoken Cree — nêhiyaw-pîkiskweninisa </h3>
    <p>The careful pronunciations of the Cree words by first-language speakers
    in Maskwacîs, Alberta, have been recorded in the joint project Spoken
    Dictionary of Maskwacîs Cree – nêhiyaw-pîkiskwêwina maskwacîsihk between
    then Miyo Wahkohtowin Education, now Maskwacîs Education Schools
    Commission and the Alberta Language Technology Lab (2014–on-going).</p>
  </section>

  <section id="credits" class="prose box box--spaced">
    <h2 class="prose__section-title">Credits</h2>

    <p>itwêwina is an open-source project. You can view the list of the
    contributors here.</p>

    <p>This project contains contributions from the Canadian Indigenous languages
    technology project, a part of the National Research Council Canada.</p>

    <div class="partner-logos">
      <a class="partner-logos__logo" href="https://www.maskwacised.ca/">
        <img src="{% static 'CreeDictionary/images/mesc-logo.svg' %}" alt="MESC">
      </a>
      <a class="partner-logos__logo" href="https://altlab.artsrn.ualberta.ca/">
        <img src="{% static 'CreeDictionary/images/uofa-logo.svg' %}" alt="University of Alberta">
      </a>
      <a class="partner-logos__logo" href="http://fnuniv.ca/">
        <img src="{% static 'CreeDictionary/images/fnu-logo.png' %}" alt="FNU">
      </a>
    </div>
  </section>

  <section id="contact-us" class="prose box box--spaced">
    <h2 class="prose__section-title">Contact us</h2>
    <p>Find a problem? Email us at
    <a href="mailto:altlab@ualberta.ca" class="about__link">altlab@ualberta.ca</a>.</p>
  </section>
</main>
{% endblock %}
{# vim: set ft=htmldjango et ts=2 sw=2 sts=2 : #}
