{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>itwêwina: the online Cree dictionary</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0091FF">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Raleway&display=swap&subset=latin-ext">
  <link rel="stylesheet" href="{% static 'CreeDictionary/css/styles.css' %}">
  {# magic that allows us to reverse urls in js  https://github.com/ierror/django-js-reverse    #}
  <script src="{% url 'js_reverse' %}" type="text/javascript"></script>
  <script src={% static 'CreeDictionary/js/index.js' %}></script>
</head>
<body class="app">
  <a href="#start-of-content" tabindex="0" class="skip-to-content">Skip to content</a>
  {% csrf_token %}
  {% include './svg-sprites.html' %}
  {% include './components/header.html' %}

  {% comment %}
  JavaScript adds the class .search-progress--loading or
  .search-progress-error, and changes the value:
  {% endcomment %}
  <progress id="loading-indicator" class="search-progress" data-cy="loading-indicator" max="1"></progress>

  <main id="start-of-content" class="app__content app__pane">
    <div id="prose">
    {% block prose %}
    {% endblock %}
    </div>

    <section class="search-results">
      <ol class="search-results__results" id="search-result-list">
        {% if did_search %}
        {% include "CreeDictionary/word-entries.html" %}
        {% endif %}
      </ol>
    </section>

    {% if lemma_id %}
      {% include 'CreeDictionary/paradigm.html' %}
    {% endif %}

  </main>

{% spaceless %}
<footer class="app-footer">
    <div class="app-footer__links footer-links app-footer__site-links">
    </div>

    <nav class="footer-links app-footer__links">
        <ul class="footer-links__list footer-links--site-links ">
            <li><a href="http://altlab.artsrn.ualberta.ca/itwewina#help" class="footer-links__link">Help</a></li>
            <li><a href="{% url 'cree-dictionary-about' %}" class="footer-links__link">About</a></li>
            <li><a href="{% url 'cree-dictionary-contact-us' %}" class="footer-links__link">Contact us</a></li>
        </ul>

        <ul class="footer-links__list footer-links--advanced-links">
            <li><a href="/change-locale?en-x-linguist" class="footer-links__link feature-unavailable">Enable Linguist
                Mode</a></li>
        </ul>
    </nav>

    <div class="app-footer__copyright copyright">
      <p class="copyright__line">2019–{% now "Y" %} © University of Alberta.</p>
        <p class="copyright__line"> Modified icons copyright © 2019
            <a href="https://github.com/FortAwesome/Font-Awesome/tree/5.11.1">Font Awesome</a>,
            licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
    </p>
    </div>
</footer>
{% endspaceless %}
</body>
</html>
{# vim: set ft=htmldjango et sw=2 ts=2 sts=2: #}
