{# entries matched by treating user query as English #}

{% load inflection_extras %}

{% for matched_english, normative_cree, lemma_wordform in english_results %}
<li class="search-results__result" data-cy="search-results">
  <article class="definition box box--rounded" data-cy="search-result">
    <header class="definition__header">
      <h2 class="definition-title definition-title--search-result">

        <dfn class="definition-title__word" data-cy="definition-title">
          {# upon loaded, this <a> will be attached to onclick handler that loads #}
          {# detailed lemma page. <a> is used for accessible styling #}
          {% if lemma_wordform.is_lemma %}
            <a class="definition-title__link" href="javascript:void(0)" data-lemma-id="{{ lemma_wordform.id }}">
              {# data- attributes are supported in HTML5 not in XHTML #}
              <span lang="cr">{{ lemma_wordform.text }}</span></a>
          {% else %}
              <span lang="cr">{{ normative_cree.text }}</span>
          {% endif %}
        </dfn>

        <span class="definition-title__pos">({{ lemma_wordform|presentational_pos }})</span>
      </h2>
    </header>

      {# Show the matched lemma (when this is NOT a lemma. #}
      {% if normative_cree != lemma_wordform.text %}
      <p class="definition-title__reference-to-lemma" data-cy="reference-to-lemma">
        Form of
        {# TODO: this link should go to the lemma search result, further down the page #}
        <a class="definition-title__link" href="javascript:void(0)" data-lemma-id="{{ lemma_wordform.id }}">{{ lemma_wordform.lemma.text }}</a>
      </p>
      {% endif %}

    <ol class="meanings meanings--search-result">
    {% for def in lemma_wordform.definitions.all %}
      <li class="meanings__meaning" data-cy="lemma-meaning">{{ def.text }}
        {% for source in def.source_ids %}
          <cite class="cite-dict">{{ source }}</cite>
        {% endfor %}
      </li>
    {% endfor %}
    </ol>
  </article>
</li>
{% endfor %}