{% extends 'CreeDictionary/base.html' %}

{% load static %}
{% load creedictionary_extras %}

{% block prose %}
<article class="prose box"{% if did_search or lemma_id %} style="display:none"{% endif %}>
  <h1 class="prose__heading no-italics">{% orth 'tânisi!' %}</span></h1>
  <p>{% orth 'itwêwina' %} is a Plains Cree Dictionary.</p>
  {% with long_word='ê-kî-nitawi-kâh-kîmôci-kotiskâwêyâhk' %}
  <p>Type any Cree word to find its English translation. You can search for
      short Cree words (e.g., {% orth 'atim' %}) or very long Cree words
      (e.g., <a data-cy="long-word-example" href="{% url_for_query long_word %}">{% orth long_word %}</a>). Or you can type an
      English word and find its possible Cree translations. You can write words
      in Cree using standard Roman orthography (SRO) (like
      <span lang="cr">acimosis</span>) or using syllabics (e.g.,
      <span lang="cr">ᐊᒋᒧᓯᐢ</span>).</p>
  {% endwith %}
  <p>{% orth 'itwêwina' %} was made by the University of Alberta ALTLab,
      in collaboration with the First Nations University and Maskwacîs Education
      Schools Commission (MESC). The dictionary entries are courtesy of Dr.
      Arok Wolvengrey and MESC.</p>
</article>
{% endblock %}

{# vim: set ft=htmldjango et ts=2 sw=2 sts=2 : #}
