{% load static %}
{% load inflection_extras %}
{# should be placed inside <main> #}
<article class="definition" id="paradigm">
    <header class="definition__header">
        <h1 class="definition-title">
            <dfn class="definition-title__word">
                <span lang="cr">{{ lemma.text }}</span>
            </dfn>
            <span class="definition-title__pos">({{ lemma|presentational_pos }})</span>
        </h1>
    </header>
    {# TODO: .definition_recordings #}
    <section class="definition__meanings">
        <ol class="meanings">
            {% for def in lemma.definition_set.all %}
                <li class="meanings__meaning">{{ def.text }}
                    {% for source in def.source_ids %}
                        <cite class="cite-dict">{{ source }}</cite>
                    {% endfor %}
                </li>
            {% endfor %}
        </ol>
    </section>
    {% if tables %}
    <section class="definition__paradigm paradigm">
        <table class="paradigm__table">
            <tbody>
            <tr>
                <th class="paradigm__panel-description" colspan="2"> {{ paradigm_size }}</th>
            </tr>

            {% for table in tables %} {# fixme: Eddie: each table (pane) should have extra margin #}
                {% for row in table %}
                    <tr class="paradigm-row">

                        {% for cell in row %}
                            {# fixme: Eddie: "double qoute" and "double qoute and colon" should have different styles #}
                            {# fixme: Eddie: see res/prefilled_layouts to have an idea what the table look like #}
                            {% if ':' in cell %}
                                <th scope="row" class="paradigm-row__label">
                                    {{ cell|cut:'"'|cut:":" }}
                                </th>
                            {% elif '"' in cell %}
                                <th scope="row" class="paradigm-row__label">
                                    {{ cell|cut:'"' }}
                                </th>
                            {% else %}
                                <td class="paradigm-row__wordform">
                                    <span lang="cr">{{ cell }}</span>
                                </td>
                            {% endif %}

                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}

            </tbody>
        </table>
        <button class="paradigm__more-button">show more</button>
    </section>
    {% else %}
    {% endif %}
</article>
