{% load inflection_extras %}
{% load creedictionary_extras %}
{% load static %}

{% for result in search_results %}
<li class="search-results__result" data-cy="search-results">
  <article class="definition box box--rounded" data-cy="search-result">

    <header class="definition__header">

      {# First line of the header #}
      {# TODO: change data-cy=definition-title #}
      <h2 class="definition-title definition-title--search-result" data-cy="matched-wordform">
        {# the matched head itself: #}
        <dfn class="definition__matched-head" data-cy="definition-title">
          {% if result.is_lemma %}
            <a data-cy="lemma-link" href="{{ result.lemma_wordform.lemma_url }}">{% orth result.lemma_wordform.text %}</a>
          {% else %}
            {% orth result.matched_cree %}
          {% endif %}
        </dfn>

        <span class="definition__icons" data-wordform="{{ result.matched_cree }}">
          {% if result.linguistic_breakdown_head or result.linguistic_breakdown_tail %}
            <div tabindex="0" class="definition__icon definition-title__tooltip-icon" data-cy="information-mark">
              <img
                src="{% static 'CreeDictionary/images/fa/info-circle-solid.svg' %}"
                alt="linguistic breakdown">
            </div>

            <div class="tooltip" role="tooltip">
              <span
                data-cy="linguistic-breakdown">{% if result.linguistic_breakdown_head %}
                {{ result.linguistic_breakdown_head|join:" + " }}
                + {% endif %}
                <strong>{{ result.lemma_wordform.text }}:</strong>
                <ol class="linguistic-breakdown">
                  {% for linguistic_tag in result.linguistic_breakdown_tail %}
                  <li class="linguistic-breakdown__breakdown-tail" data-cy="linguistic-breakdown__breakdown-tail">
                    {{ linguistic_tag }}
                  </li>
                  {% endfor %}
                </ol>
              </span>
              <div class="tooltip__arrow" data-popper-arrow></div>
            </div>
            {# NB: the "Play recording" icon will be appened here #}
          {% endif %}
        </span>
      </h2>

      {# Second line of the header: the elaboration #}
      <p class="definition__elaboration" data-cy="elaboration">
        {# Show the matched lemma (when this is NOT a lemma. #}
        {% if not result.is_lemma %}
          <span class="reference-to-lemma" data-cy="reference-to-lemma">
            Form of
            <a class="reference-to-lemma__lemma"
               href="{{ result.lemma_wordform.lemma_url }}">{% orth result.lemma_wordform.text %}</a>
          </span>
        {% endif %}

        {% with help=result.lemma_wordform.wordclass_help %}
          <span class="definition-title__pos" data-cy="word-class">
            ({{ result.lemma_wordform|presentational_pos }}{% if help %} — {{ help }}{% endif %})
          </span>
        {% endwith %}
      </p>

    </header>


    {# Theses are the definitions for the inflection (non-lemma), could be empty  #}
    <ol class="meanings meanings--search-result">
      {% for def in result.definitions %}
      <li class="meanings__meaning" data-cy="lemma-meaning" data-cy="link-to-lemma">{{ def.text }}
        {% for source in def.source_ids %}
        <cite class="cite-dict">{{ source }}</cite>
        {% endfor %}
      </li>
      {% endfor %}
    </ol>

    {# show preverb breakdown #}
    <ol class="preverb-breakdown">
      {% for preverb in result.preverbs %}
      <li>
        <span>Preverb: {% if preverb.id %}
          <a href="{% url_for_query preverb.text %}">{% orth preverb.text %}</a>{% else %}
          {% orth preverb.text %}{% endif %}
        </span>

        {% if preverb.id %} {# we know the preverb in the database #}



        <div tabindex="0" class="preverb-breakdown__tooltip-icon" data-cy="information-mark">
          <img
            src="{% static 'CreeDictionary/images/fa/info-circle-solid.svg' %}"
            alt="preverb breakdown">
        </div>

        <div class="tooltip" role="tooltip">
          {% for definition in preverb.definitions %}
          <p class="preverb-breakdown__preverb-definition">{{ definition.text }}
          {% for source in definition.source_ids %}
          <cite class="cite-dict cite-dict--popup">{{ source }}</cite>
          {% endfor %}
          </p>
          {% endfor %}
          <div class="tooltip__arrow" data-popper-arrow></div>
        </div>

        {% endif %}
      </li>
      {% endfor %}
    </ol>
    {# end preverb breakdown #}

    {% if not result.is_lemma %}
    {# show everything about the lemma #}

    <hr class="cleave-inflection-from-lemma">

    <header class="definition__header">
      <h2 class="definition-title definition-title--search-result">

        {# TODO: change data-cy=definition-title #}
        <dfn class="definition__matched-head" data-cy="definition-title">
          <a href="{{ result.lemma_wordform.lemma_url }}">{% orth result.lemma_wordform.text %}</a>
        </dfn>
      </h2>
    </header>

    {# Theses are the definitions for the lemma, gauranteed to exist in the database #}
    <ol class="meanings meanings--search-result">
      {% for def in result.lemma_wordform.definitions %}
      <li class="meanings__meaning" data-cy="lemma-meaning" data-cy="link-to-lemma">{{ def.text }}
        {% for source in def.source_ids %}
        <cite class="cite-dict">{{ source }}</cite>
        {% endfor %}
      </li>
      {% endfor %}
    </ol>


    {% endif %}

  </article>
</li>
{% empty %}
  <li class="search-results__no-result box box--rounded box--bad-outcome" data-cy="no-search-result">
    No results found for <output class="query">{{ query_string }}</output>
  </li>
{% endfor %}
{# vim: set ft=htmldjango et sw=2 ts=2 sts=2: #}
