{% spaceless %}

  {% comment %}
    ## .definition__elaboration ##

    Paramters
      - lemma: SerializedWordform

    The line below the lemma that describes the wordclass and the inflectional
    category.

    Example:

      🧑🏽➡️🧑🏽— /like nipâw/
            ,-------^--------.
            | verb (VAI)     |
            `-------^--------'

  {% endcomment %}

  {% load creedictionary_extras %}
  {% load inflection_extras %}

  {# Second line of the header: the elaboration #}
  <div class="definition__elaboration" data-cy="elaboration">
    {% with ic=lemma.inflectional_category_plain_english %}
      {% if ic %}
        <button class="wordclass wordclass--described unbutton" data-cy="word-class" data-has-tooltip {# todo: aria-describedby="tooltip:N" #}>
          <span class="wordclass__emoji">{{ lemma.wordclass_emoji }}</span>
          <span class="wordclass__help"> — {{ ic }}</span>
        </button>

        <div class="tooltip" role="tooltip">
          {{ lemma.inflectional_category_linguistic }} ({{lemma.inflectional_category}})
          <div class="tooltip__arrow" data-popper-arrow></div>
        </div>
      {% else %}
        <span class="wordclass" data-cy="word-class">
          <span class="wordclass__emoji">{{ lemma.wordclass_emoji }}</span>
        </span>
      {% endif %}
    {% endwith %}
  </div>
{% endspaceless %}
