{% spaceless %}

  {% comment %}
    ## .definition__elaboration ##

    The line below the lemma that describes the wordclass and the inflectional
    category.

    Example:

      🧑🏽➡️🧑🏽— /like nipâw/

  {% endcomment %}

  {% load creedictionary_extras %}
  {% load inflection_extras %}

  {# Second line of the header: the elaboration #}
  <p class="definition__elaboration" data-cy="elaboration">
    {% with help=lemma.wordclass_help %}
      <span class="wordclass" data-cy="word-class">
        (<span class="wordclass__general">{{ lemma|presentational_pos }}</span>{% if help %}
          <span class="wordclass__help"> — {{ help }}</span>{% endif %})
      </span>
    {% endwith %}
  </p>
{% endspaceless %}
