{% spaceless %}

  {% comment %}
    ## .definition-title ##

    Example:

      nîminâniwan ℹ️ 🔊
        ,---------^-------.
        | nîmiw           |
        |   action word   |
        |   ni-/ki- word  |
        |   now           |
        |   somebody      |
        `-----------------'

  {% endcomment %}

  {% load creedictionary_extras %}
  {% load static %}

  {# First line of the header #}
  {# TODO: change data-cy=definition-title #}
  <h2 class="definition-title definition-title--search-result" data-cy="matched-wordform">
    {# the matched head itself: #}
    <dfn class="definition__matched-head" data-cy="definition-title">
      {% if result.is_lemma %}
        <a data-cy="lemma-link" href="{{ result.lemma_wordform.lemma_url }}">{% orth result.lemma_wordform.text %}</a>
      {% else %}
        {% orth result.matched_cree %}
      {% endif %}
    </dfn>

    &#32; {# separate title proper from icons #}

    <span class="definition__icons" data-wordform="{{ result.matched_cree }}">
      {% if result.linguistic_breakdown_head or result.linguistic_breakdown_tail %}
        <div tabindex="0" class="definition__icon definition-title__tooltip-icon" data-has-tooltip data-cy="information-mark">
          <img
            src="{% static 'CreeDictionary/images/fa/info-circle-solid.svg' %}"
            alt="linguistic breakdown">
        </div>

        <div class="tooltip" role="tooltip">
          <span
            data-cy="linguistic-breakdown">
            {# TODO: this should be the STEM: #}
            <strong>{{ result.lemma_wordform.text }}:</strong>
            <ol class="linguistic-breakdown">
              {% with tags=result.linguistic_breakdown_head|add:result.linguistic_breakdown_tail %}
                {% for linguistic_tag in tags %}
                  <li class="linguistic-breakdown__breakdown-tail" data-cy="linguistic-breakdown__breakdown-tail">
                    {{ linguistic_tag }}
                  </li>
                {% endfor %}
              {% endwith %}
            </ol>
          </span>

          <div class="tooltip__arrow" data-popper-arrow></div>
        </div>
        {# NB: the "Play recording" icon will be appened here #}
      {% endif %}
    </span>
  </h2>
{% endspaceless %}
