{% spaceless %}

  {% comment %}
    ## .definition__elaboration ##

    Parameters:
      lemma: SerializedWordform
      verbose: bool

    The line below the lemma that describes the wordclass and the inflectional
    category.

    Example:

      🧑🏽➡️🧑🏽— /like nipâw/
            ,-------^--------.
            | verb (VAI)     |
            `-------^--------'

  {% endcomment %}

  {% load creedictionary_extras %}
  {% load inflection_extras %}

  {# Second line of the header: the elaboration #}
  <div class="definition__elaboration" data-cy="elaboration">
    {# TODO: clean up this big conditional #}
    {% if verbose %}
      {% with ic=lemma.inflectional_category emoji=lemma.wordclass_emoji id=request|unique_id %}
        {% if lemma.wordclass or emoji %}
          <p class="elaboration__row elaboration__wordclass-row">
            {% if lemma.wordclass %}
              <span class="wordclass__full">{{ lemma.wordclass }}</span>
            {% endif %}

            &#32; {# space between sections #}

            {% if emoji %}
              <span class="wordclass__emoji">{{ emoji }}</span>
            {% endif %}
          </p>
        {% endif %}

        {% if ic %}
          <p class="elaboration__row elaboration__ic-row">
            {{ lemma.inflectional_category_linguistic }} ({{ ic }})
          </p>
        {% endif %}
      {% endwith %}

    {% else %}{# not verbose #}

        {% with ic=lemma.inflectional_category_plain_english emoji=lemma.wordclass_emoji id=request|unique_id %}
          {% if ic %}
            <span class="wordclass wordclass--described" data-cy="word-class" data-has-tooltip tabindex="0" aria-describedby="tooltip:{{ id }}">
              {% if emoji %}
                <span class="wordclass__emoji">{{ emoji }}</span>
              {% endif %}
              {% if emoji and ic %} — {% endif %}
              <span class="wordclass__help">{% cree_example ic %}</span>
            </span>

            <div id="tooltip:{{ id }}" class="tooltip" role="tooltip">
              {{ lemma.inflectional_category_linguistic }} ({{ lemma.inflectional_category }})
              <div class="tooltip__arrow" data-popper-arrow></div>
            </div>
          {% elif emoji %}
            <span class="wordclass" data-cy="word-class">
              <span class="wordclass__emoji">{{ lemma.wordclass_emoji }}</span>
            </span>
          {% endif %}
      {% endwith %}

    {% endif %}
  </div>
{% endspaceless %}
