{% spaceless %}
  {% comment %}
    ## .definition__elaboration--verbose ##

    The "elaboration" of a defined head. This contains word class,
    inflectional category, and other information about the head itself.

    It's verbose because it contains A LOT of information — more than you'd
    find on the search page, for instance.

    Parameters:
      lemma: SerializedWordform
      ic: str — inflectional category, in linguistic terms
      emoji: str -- An emoji str representing the wordclass. Useful for Algonquian languages.

    The line below the lemma that describes the wordclass and the inflectional
    category.

    Example:

      VTA 🧑🏽➡️🧑🏽
      VTA-1: transitive animate verb – class 1: regular

  {% endcomment %}

  {% load creedictionary_extras %}
  {% load inflection_extras %}

  {% if lemma.wordclass or emoji %}
    <p class="elaboration__row elaboration__wordclass-row">
      {% if lemma.wordclass %}
        <span class="wordclass__full">{{ lemma.wordclass }}</span>
      {% endif %}

      &#32; {# space between sections #}

      {% if emoji %}
        <span class="wordclass__emoji">{{ emoji }}</span>
      {% endif %}
    </p>
  {% endif %}

  {% if ic %}
    <p class="elaboration__row elaboration__ic-row">
      {{ lemma.inflectional_category_linguistic }} ({{ ic }})
    </p>
  {% endif %}
{% endspaceless %}
