<section class="menu__category">
  <ul class="menu__choices" data-cy="orthography-choices">
    <li class="menu-choice menu-choice--selected">
      <button data-orth-switch value="Latn" class="unbutton fill-width">
        <span class="menu-choice__label"> SRO (êîôâ) </span>
      </button>
    </li>
    <li class="menu-choice">
      <button data-orth-switch value="Latn-x-macron" class="unbutton fill-width">
        <span class="menu-choice__label"> SRO (ēīōā) </span>
      </button>
    </li>
    <li class="menu-choice">
      <button data-orth-switch value="Cans" class="unbutton fill-width">
        <span class="menu-choice__label"> Syllabics </span>
      </button>
    </li>
  </ul>
</section>
{# vim: set ft=htmldjango: et sw=t ts=2 sts=2 #}
