<section class="menu__category" aria-labelledby="language-selector__orthography">
  <h2 class="menu__caption" id="language-selector__orthography"> Show Cree words in </h2>
  <ul class="menu__choices" data-cy="orthography-choices">
    <li class="menu-choice menu-choice--selected">
      <button data-orth-switch value="Latn" class="menu-choice__label unbutton">SRO (êîôâ)</button>
    </li>
    <li class="menu-choice">
      <button data-orth-switch value="Latn-x-macron" class="menu-choice__label unbutton">SRO (ēīōā)</button>
    </li>
    <li class="menu-choice">
      <button data-orth-switch value="Cans" class="menu-choice__label unbutton">Syllabics</button>
    </li>
  </ul>
</section>
{# vim: set ft=htmldjango: et sw=t ts=2 sts=2 #}
