<section class="menu__category" aria-labelledby="language-selector__orthography">
  <h2 class="menu__caption" id="language-selector__orthography"> Show Cree words in </h2>
  <ul class="menu__choices" data-cy="orthography-choices">
    <li class="menu-choice menu-choice--selected">
      <a href="?o=Latn" class="menu-choice__label">SRO (êîôû)</a>
    </li>
    <li class="menu-choice">
      <a href="?o=Latn-x-macron" class="menu-choice__label">SRO (ēīōū)</a>
    </li>
    <li class="menu-choice">
      <a href="?o=Cans" class="menu-choice__label">Syllabics (ᒐᐦᑭᐯᐦᐃᑲᓇ)</a>
    </li>
  </ul>
</section>
{# vim: set ft=htmldjango: et sw=t ts=2 sts=2 #}
