{% spaceless %}

  {% comment %}
    ## .linguistic-breakdown ##

    Example:

                ℹ️
      ,---------^-------.
      | nîmi-           |
      |   action word   |
      |   ni-/ki- word  |
      |   now           |
      |   somebody      |
      `-----------------'

  {% endcomment %}

  {% load morphodict_orth %}
  {% load static %}

    {% if result.linguistic_breakdown_head or result.linguistic_breakdown_tail %}
      <div tabindex="0" class="definition__icon definition-title__tooltip-icon" data-has-tooltip data-cy="information-mark">
        <img
          src="{% static 'CreeDictionary/images/fa/info-circle-solid.svg' %}"
          alt="linguistic breakdown">
      </div>

      <div class="tooltip" role="tooltip">
        <div data-cy="linguistic-breakdown">
          {% if result.lemma_wordform.stem %}
            <h3 class="linguistic-breakdown__stem"> {{ result.lemma_wordform.stem }} </h3>
          {% endif %}

          <ol class="linguistic-breakdown__list">
            {% for tag in result.relevant_tags %}
              <li><data value="{{ tag.value }}">{{ tag.in_plain_english }}</data></li>
            {% endfor %}
          </ol>
        </div>

        <div class="tooltip__arrow" data-popper-arrow></div>
      </div>
      {# NB: the "Play recording" icon will be appened here #}
    {% endif %}
{% endspaceless %}
