{% spaceless %}
  {% comment %}
    Inserted into the <head>, this adds tags for social media preview.
  {% endcomment %}
  
  {% load static %}

  {# Primary Meta Tags #}
  <title>itwêwina: the online Cree dictionary</title>
  <meta name="description" content="A smart, online dictionary of Plains Cree (Y-Dialect) | nêhiyawi-masinahikan kâ-iyinîsit">

  {# Open Graph / Facebook #}
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://itwewina.altlab.app/">
  <meta property="og:title" content="itwêwina: the Plains Cree dictionary">
  <meta property="og:description" content="A smart, online dictionary of Plains Cree (Y-Dialect) | nêhiyawi-masinahikan kâ-iyinîsit">
  <meta property="og:image" content="{% static 'CreeDictionary/images/itwewina-social.svg' %}">

  {# Twitter #}
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://itwewina.altlab.app/">
  <meta property="twitter:title" content="itwêwina: the Plains Cree dictionary">
  <meta property="twitter:description" content="A smart, online dictionary of Plains Cree (Y-Dialect) | nêhiyawi-masinahikan kâ-iyinîsit">
  <meta property="twitter:image" content="{% static 'CreeDictionary/images/itwewina-social.svg' %}">
{% endspaceless %}
