cree-sro-syllabics==2021.4.16
dj-database-url==0.5.0
Django==3.2.5
django-js-reverse==0.9.1
environs==9.3.2
marshmallow==3.12.2
more-itertools==8.8.0
python-dotenv==0.18.0
pytz==2021.1
secure==0.3.0
snowballstemmer==2.1.0
sqlparse==0.4.1
tqdm==4.61.2
typing-extensions==3.10.0.0
whitenoise==5.3.0
hfst_optimized_lookup==0.0.13
