.page-header-container {
    height: 150px;
    width: 100%;
    border-bottom: 3px solid dimgrey;
    text-align: center;
    position: relative;
    flex-grow: 0;

}
.page-header-title-container {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1.header-title {
    font-size: 50px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: dimgrey;
}

.content-container{
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


body{
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 8px;
    display: flex;
    flex-direction: column;

}

.search-page-logo-collection-container{
    border-top: 3px solid dimgrey;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: space-around;
    flex-grow: 0;

}



.search-page-middle-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-page-middle-container-top-margin{
    flex-grow: 0;
    height: 180px;
}

.search-form-container{
    width: 80vw;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-page-middle-container-lower-margin{
    flex-grow: 11;
    width:70vw;
    align-items: center;
    flex-direction: column;

    display:flex;



}

#instruction-text{
    font-size: 40px;
    font-family: Arial, sans-serif;
    color: dimgrey;
    flex-grow: 0;
}


#search-results #search-result-loading-card{
    flex-grow: 1;
}


.search-form-container-label{
    flex-grow: 0;
    font-size: 60px;
}

.word-search-form{
    flex-grow: 1;
    display: flex;
}



.word-search-form > input{
    font-size: 60px;
    width:50px;
    flex-grow: 10;
    border: none;
    border-bottom: 2px solid dimgrey;
}



.word-search-form > input:focus,
.word-search-form > button:focus
{
    outline: none;
}

.word-search-form > input::-webkit-input-placeholder {
   font-style: italic;
}

.word-search-form > input:-moz-placeholder {
   font-style: italic;
}

.word-search-form >input::-moz-placeholder {
   font-style: italic;
}

.word-search-form>input:-ms-input-placeholder {
   font-style: italic;
}

.word-search-form > button{
    width: 150px;
    flex-grow: 0;
    height: 100px;
    font-size: 30px;
    background-color: white;
    color: dimgrey;
    border: 3px solid dimgrey; /* Green */
    border-radius: 50px;
    font-weight: bolder;
}

/*.word-search-form > input{*/
/*    height:80px;*/
/*    width: 40px;*/
/*    font-size: 60px;*/
/*    border: none;*/
/*    border-bottom: 2px solid dimgrey;*/
/*}*/


.bottom-logo {
    align-self: center;
    max-height: 220px;
    max-width:30vw;
    width:auto;
    height:auto;
}



.hint-text{
    font-size: 60px;
    font-family: Arial, sans-serif;
    color: dimgrey;
    font-weight: bold;
    flex-grow:0;

}

.word-search-button{
    text-align: center;
}