@charset "UTF-8";

@import "normalize.css";

/**
 * Preliminary styles for the application.
 *
 * This uses the BEM methodology:
 * http://getbem.com/naming/
 */

:root {
  /* Positioning and sizes */
  --page-gutter:               1rem; /* Space on either side of the viewport. */
  --header-stripe-width:        8px; /* Width of the "stripe" to the left of the title. */
  --small-pad:                  4px;
  --medium-gap:                 6px;
  --search-focus-outline-size:  4px; /* How far the focus colour should expand. */

  /* Colors */
  --app-bg-color:           #F7F7F7; /* Background color of the entire application. */
  --app-title-color:        #0091FF; /* Color of the "itwêwina" title. */
  --app-body-color:         #000000; /* Color of body text. */
  --cite-text-color:        #1A2635; /* Color of dictionary citation element. */
  --footer-bg-color:        #EBE9E9; /* Background color of the "sunken" footer. */
  --header-stripe-color:    var(--app-title-color); /* Color of the "stripe" to the left of the title. */
  --search-border-color:    #979797; /* Color of the search bar's (unfocused) border */
  --search-focus-color:     #1C9DFE; /* Color of the search bar when focused */
  --box-bg-color:           #FFFDFD; /* Background color of "boxes" */
  --menu-caption-color:     #626262; /* Color of text for menu captions. */
  --paradigm-button-color:  #283C95; /* Color of the paradigm "show more" button. */
  --paradigm-border-color:  #828A95; /* Color of the paradigm border and button. */
  --prose-title-color:      #283C95;
  --link-color:             #189cda; /* Regular links */
  --link-action-color:      #0F2657; /* A link that implies an immediate action. */
  --placeholder-text-color: #949494; /* The placeholder should be faint, but visible. */

  /* Font sizes */
  --definition-title-size:     28px;
  --prominent-font-size:       24px; /* For text that should be prominent! */
  /* Font families */
  --heading-font-family: Raleway, Euphemia UCAS, sans-serif;
  --body-font-family: Open Sans, Euphemia UCAS, sans-serif;
  /* Font weights */
  --body-font-weight:           400; /* Make sure these weights line up with the Google fonts! */
  --strong-font-weight:         700;

  --search-input-border-radius: 15px;
  --border-radius:      4px;
}

/**
 * When selecting text on the page, use the branding color as the background,
 * to make selecting things on this page unique!
 */
::selection {
  color: #FFF;
  background-color: var(--app-title-color);
}

/* See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/**
 * Use this template to make your own BEM rule:
 */
.block, .block__element, .block--modifier {
  /* Positioning */
  /* Display & Box Model */
  /* Color */
  /* Text */
  /* Other */
}

/*********************************** APP ***********************************/

/**
 * BLOCK app
 *
 * A block containing the ENTIRE application.
 */
.app {
  /* Display & Box Model */
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  /* Color */
  color: var(--app-body-color);
  background: var(--app-bg-color);

  /* Text */
  font: normal var(--body-font-weight) 14px/normal var(--body-font-family);
}

/**
 * Link styles for the application.
 */
.app a:link,
.app a:visited
{
  color: var(--link-color);
}
/* TODO: figure out highlight color of links */

/**
 * ELEMENT app__header
 *
 * The header for the entire application.
 */
.app__header {
  /* Display & Box Model */
  width: 100vw;
  margin: 0 0 .75rem;
}

/**
 * ELEMENT app__content
 *
 * The element containing the main content on display in the application.
 * The contents of this element are expected to change as the user interacts
 * with the application.
 */
.app__content {
  flex: 1;
  margin-top: var(--medium-gap);
}

/**
 * ELEMENT pp__pane
 *
 * Any division of the application that creates a "pane".
 *
 * The header and footer are exceptions to this.
 */
.app__pane {
  padding: 0 var(--page-gutter);
}

/********************************* TOP BAR *********************************/

/**
 * BLOCK top-bar
 *
 * A bar that runs across the top of the application.
 */
.top-bar {
  display: flex;
  flex-direction: row;
}

/**
 * BLOCK top-bar
 *
 * Space within the top-bar in which site branding can appear.
 */
.top-bar__heading {
  flex: 1;
  padding: 0 var(--page-gutter);

  background: transparent;  /* Fallback */
  background: linear-gradient(to right, var(--header-stripe-color) 0%,
                                        var(--header-stripe-color) var(--header-stripe-width),
                                        rgba(0,0,0,0) var(--header-stripe-width),
                                        rgba(0,0,0,0) 100%);
}

.top-bar__nav {
  margin-right: var(--small-pad);
}

/********************************* BRANDING *********************************/

/**
 * BLOCK branding
 *
 * Displays the title and subtitle/tagline of the application.
 */

/**
 * ELEMENT
 *
 * A heading that makes up the branding.
 */
.branding__heading {
  margin: 0 auto;
}

/* Make the links in the heading look consistent, regardless of its state: */
.branding a:link,
.branding a:hover,
.branding a:hover,
.branding a:visited,
.branding a:active {
  color: inherit;
  text-decoration: none;
}

/**
 * ELEMENT branding__title
 *
 * Contains the primary title of the application.
 */
.branding__title {
  /* Color */
  color: var(--app-title-color);

  /* Text */
  font: 400 24px/normal var(--heading-font-family);
  letter-spacing: 4px;
}

/**
 * ELEMENT branding__subtitle
 *
 * Contains the subtitle or tagline of the application.
 */
.branding__subtitle {
  /* Text */
  font-weight: var(--body-font-weight);
  font-size: 12px;
}


/********************************** SEARCH **********************************/

/**
 * BLOCK search
 *
 * The main search panel.
 */

/**
 * ELEMENT advanced search.
 *
 * Shows options for advance search.
 */
.search__advanced  {
  /* Text */
  text-align: right;
}

/**
 * BLOCK search-bar
 *
 * Contains the input and controls to input a search query.
 */
.search-bar {
  /* Positioning */
  position: relative;
  /* Display & Box Model */
  display: flex;
  width: 100%;
  /* Text */
  font-size: var(--prominent-font-size);
}

/**
 * ELEMENT search label
 *
 * The label that says "Search: "
 */
@media screen, print {
  /* Hide the label on the screen */
  .search-bar__label {
    /* I tried display: none and visibilty: hidden, but my accessiblily linter
     * kept complaining, so let it have zero size and don't display content
     * outside its zero-sized box: */
    width: 0;

    overflow: hidden;
  }
}

/**
 * ELEMENT search__input
 *
 * The actual input element that the user types the query into.
 */
.search-bar__input {
  /* Display & Box Model */
  flex: 1;
  min-width: 50vw; /* The max width actually was way too big before; make it relative to the viewport. */
  padding: var(--small-pad) 1rem;
  padding-right: 1em;
  border: solid 1px var(--search-border-color);

  /* Text */
  text-overflow: ellipsis;

  /* Other */
  border-radius: var(--search-input-border-radius);
  /* Has a nice animation when the search bar receives focus. */
  box-shadow: 0 0 0 transparent;
  transition: box-shadow .125s;
}

/**
 * How to display the placeholder when text has yet to be entered in the
 * search input:
 */
.search-bar__input:placeholder-shown {
  /* Color */
  color: var(--placeholder-text-color);

  /* Text */
  font-style: italic;
  font-weight: var(--body-font-weight);
}

/**
 * Make it abundantly clear that the search input has focus.
 */
.search-bar__input:focus {
  box-shadow: 0 0 0 1px white,
              0 0 0 var(--search-focus-outline-size) var(--search-focus-color);
}

/**
 * ELEMENT search-bar__button
 *
 * The button to press to execute the search.
 */
.search-bar__button {
  position: absolute;
  right: 0;

  display: inline-block;
  height: 100%;
  width: 2em;
  border: 0;

  background: transparent;

  cursor: pointer;
}

.search-bar__button > img {
  margin-top: .125em;
  height: 1.125em;
}

/**
 * Make the search icon look unusable when the user has not typed any query.
 */
.search-bar:invalid .search-bar__button {
  opacity: 50%;
  cursor: not-allowed;
}


/****************************** SEARCH RESULTS ******************************/

.search-results__results {
  padding: 0;

  list-style: none;
}

.search-results__result {
  margin-top: 19px;
}

.search-results__result:first-of-type {
  margin-top: 0;
}


/******************************** DEFINITION ********************************/

.definition-title {
  font-size: var(--definition-title-size);
}

.definition-title--search-result {
  margin: 0;
}

.definition-title__word {
  /* Text */
  font-style: normal;
  font-weight: var(--strong-font-weight);
}

.definition-title__pos {
  /* Text */
  font-style: normal;
  font-weight: normal;
}

.meanings {
  /* Display & Box model */
  padding: 0;

  /* Text */
  font-size: var(--prominent-font-size);

  /* Other */
  list-style-position: inside;
}

.meanings--search-result {
  /* Display & Box model */
  padding: 0 .5em;

  /* Text */
  font-size: 22px;
}

.paradigm {
  /* Display & Box model */
  border: solid 1px var(--paradigm-border-color);

  /* Color */
  background: var(--box-bg-color);

  /* Other */
  border-radius: var(--border-radius);
}

.paradigm__table {
  /* Display & Box model */
  margin: 0 auto 15px;
  max-width: calc(100% - 2 * 22px); /* Have an 'inner margin' of 22px; */

  /* Text */
  line-height: 1.5;

  /* Other */
  border-spacing: 2em 0.5rem;
}

.paradigm__more-button {
  /* Display & Box model */
  display: block;
  width: 100%;
  border: 0;
  padding-bottom: var(--border-radius);

  /* Color */
  color: #FFF;
  background-color: var(--paradigm-button-color);

  /* Text */
  text-align: center;
  font-weight: inherit;
  line-height: 1.5;

  /* Hack to make the rounded border look like it belongs to the parent. If we
   * don't make the radius a bit tighter, this border protrudes in a weird
   * way. */
  --tighter-br: calc(var(--border-radius) - 2px);
  border-radius: 0 0 var(--tighter-br) var(--tighter-br);
}

.paradigm__more-button::before {
  content: "+ ";
  font-weight: var(--strong-font-weight);
}

.paradigm__panel-description {
  text-align: left;
}

/********************************** PROSE **********************************/

/**
 * BLOCK prose
 *
 * A bunch of readable text.
 */
.prose__heading {
  font: var(--strong-font-weight) 18px var(--body-font-family);

  color: var(--prose-title-color);
}

/* this is anti-BEM, but like, it's body text ¯\_(ツ)_/¯ */
.prose p {
  margin-top: 1rem;
  margin-bottom: 0;
}

/* also anti-BEM ¯\_(ツ)_/¯ */
.prose p [lang] {
  font-style: italic;
}


/**************************** APP FOOTER ****************************/

/**
 * BLOCK app-footer
 *
 * The footer at the bottom of the app.
 */
.app-footer {
  /* Display & Box Model */
  width: 100vw;
  margin-top: 1rem;
  padding-bottom: var(--small-pad);

  line-height: 1.2;

  /* Color */
  background-color: var(--footer-bg-color);
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.1);
}


.app-footer__about,
.app-footer__advanced-nav {
  margin: .1rem var(--page-gutter);

  font-size: 10px;
  text-align: left;
}

.app-footer__about,
.app-footer__advanced-nav,
.app-footer__about a:link,
.app-footer__advanced-nav a:link {
  color: var(--footer-text-color);
}

.app-footer__advanced-nav a:link {
    font-weight: var(--strong-font-weight);
}

/**
 * BLOCK partner-logos
 *
 * Contains logos, primarily in the footer.
 */
.partner-logos {
  /* Display & Box Model */
  display: flex;
  width: 100%;
  margin-top: var(--small-pad);

  /* Other */
  flex-wrap: wrap;
  align-items: center;
}

/**
 * ELEMENT partner-logos__logo
 *
 * One particular logo.
 */
.partner-logos__logo {
  /* Positioning */
  flex: 1;
  /* Display & Box Model */
  margin: var(--small-pad) .5rem;
  /* Text */
  text-align: center;
}

.partner-logos__logo > img {
  max-width: 33vw;
  max-height: 8em;
}


/****************************** UTILITY CLASSES *****************************/

.toggle-box__toggle {
  /* Display & Box Model */
  display: block;

  /* Text */
  font-weight: 600;
  text-decoration: underline;

  /* Color */
  color: #000;

  /* Other */
  cursor: pointer;
}

.toggle-box__toggle::-webkit-details-marker {
  display: none;
}

.toggle-box__toggle::after {
  content: url("img/fa/chevron-circle-down.svg");

  display: inline-block;
  width: 11px;
  margin-left: var(--small-pad);

  transition: transform .25s;
  transform: rotate(-90deg);
}

.toggle-box[open] > .toggle-box__toggle::after {
  transform: rotate(0deg);
}

/**
 * Makes the toggle look like a link.
 */
.toggle-box--link-like > .toggle-box__toggle {
  color: var(--link-action-color);
}

/**
 * MODIFIER large
 *
 * A slightly larger toggle-box.
 */
.toggle-box--large > .toggle-box__toggle {
  font-size: 16px;
}


/**
 * MODIFIER with-menu
 *
 * Makes it so that the menu can be absolutely positioned.
 */
.toggle-box--with-menu {
  position: relative;
}

.toggle-box__menu {
  position: absolute;
  right: 0;
  z-index: 100;
}

/**
 * Creates an area behind the menu pop-up that, when clicked/touched, will
 * inadvertently toggle the menu away.
 */
.toggle-box[open] > .toggle-box__toggle::before {
  content: " ";

  /* Position */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Display & Box model */
  display: block;
  z-index: 80;

  /* Color */
  background: transparent;

  /* Other */
  cursor: default;
}


/*********************************** MENU ***********************************/

/* TODO: Steal from GitHub's settings page for making an accessible menu! */
/* e.g., https://github.com/eddieantonio/proto-itwewina/settings */
/* See also: https://www.w3.org/TR/wai-aria-practices/examples/menu-button/menu-button-links.html */

.menu {
  min-width: 10rem;
  border: solid 1px rgba(209, 209, 209, 0.33);

  text-align: left;

  background-color: var(--box-bg-color);
  box-shadow: 4px 4px 8px 0 rgba(74, 74, 74, 0.24);

  border-radius: var(--border-radius);
}

.menu__caption {
  color: var(--menu-caption-color);
  padding: 9px;
  margin: 0;

  font-size: 12px;
  font-weight: var(--strong-font-weight);
}

.menu__choices {
  list-style: none;
}

.menu__category, .menu__choices {
  margin: 0;
  padding: 0;
  border: 0;
}

.menu-choice__label {
  display: block;
  padding: 9px;
}

a.menu-choice__label:link,
a.menu-choice__label:visited,
a.menu-choice__label:hover,
a.menu-choice__label:active {
  color: inherit;
  text-decoration: none;
}

.menu-choice--selected {
  font-weight: var(--strong-font-weight);

  background-color: #DEE4F9;
}

/*********************************** BOX ************************************/

/**
 * A panel that stands out from its background, as it's in a box!
 */
.box {
  padding: var(--medium-gap) var(--page-gutter);
  padding-bottom: 1rem;

  background-color: var(--box-bg-color);

  box-shadow: 0 1px 1px 0 rgba(129, 127, 127, 0.5);
}

.box--rounded {
  border-radius: var(--border-radius);
}

/***************************** SKIP TO CONTENT *****************************/

.skip-to-content {
  position: fixed;
  top: 0;
  left: 0;

  width: 1px;
  height: 1px;
  overflow: hidden;

  font-size: larger;

  background-color: white;
}
.skip-to-content:focus {
  clip: auto;
  z-index: 100;
  width: auto;
  height: auto;
}

@media screen, print {
  .skip-to-content {
    clip: rect(1px, 1px, 1px, 1px);
  }
}


/******************************* INLINE MARKUP ******************************/

/**
 * BLOCK cite-dict
 *
 * A block that cites a dictionary source.
 */
.cite-dict {
  /* Color */
  color: var(--cite-text-color);
  /* Text */
  font-size: 11px;
  font-style: normal;
  font-weight: var(--strong-font-weight);
}

/**
 * Non-BEM styles.
 */

td[rowspan] {
  vertical-align: top;
}
