/* adapted from https://popper.js.org/docs/v2/tutorial/ */

/* how to use: Create `icon` element and `popup` element in html

`popup` needs to be the direct next sibling of `icon` and has class tooltip

.tooltip class in this file decides how the popup looks like

tooltip.js attaches all the event handlers

*/

.tooltip {
    background: #333;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
    display: none;
    z-index: 1;
}

.tooltip[data-show] {
    display: block;
}

.arrow,
.arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: -1;
}

.arrow::before {
    content: '';
    transform: rotate(45deg);
    background: #333;
}

.tooltip[data-popper-placement^='top'] > .arrow {
    bottom: -4px;
}

.tooltip[data-popper-placement^='bottom'] > .arrow {
    top: -4px;
}

.tooltip[data-popper-placement^='left'] > .arrow {
    right: -4px;
}

.tooltip[data-popper-placement^='right'] > .arrow {
    left: -4px;
}

/**
 * TOOLTIP specific styling
 *
 * Should remove the numbering from the lists that come with the linguistic breakdowns
 */
 .linguistic-breakdown__breakdown-tail {
    list-style: none;
  }
  
  .linguistic-breakdown__breakdown-tail > li {
    padding-left: var(--small-pad);
  }