/* adapted from https://popper.js.org/docs/v2/tutorial/ */

/*
 * How to use: Create `icon` element and `popup` element in html
 * `popup` needs to be the direct next sibling of `icon` and has class tooltip
 *
 * .tooltip class in this file decides how the popup looks like
 *
 * tooltip.js attaches all the event handlers
 */

.tooltip {
  display: none;
  position: absolute;

  padding: 13px;
  border-radius: 4px;
  border: solid 1px rgba(209, 209, 209, 0.33);

  background: var(--popup-bg-color);
  color: var(--popup-color);

  font-size: 1rem;
  font-weight: var(--body-font-weight);

  box-shadow: 4px 4px 8px 2px rgba(145, 145, 145, 0.23);
  z-index: 1;
}

.tooltip[data-show] {
  display: inline-block;
}

.tooltip__arrow,
.tooltip__arrow::before {
  position: absolute;

  width: 8px;
  height: 8px;

  z-index: -1;
}

.tooltip__arrow::before {
  content: '';

  border: solid 1px rgba(209, 209, 209, 0.33);

  transform: rotate(45deg);
  background: var(--popup-bg-color);
}

.tooltip[data-popper-placement^='top'] > .tooltip__arrow {
  bottom: -4px;
}

.tooltip[data-popper-placement^='top'] > .tooltip__arrow::before {
  border-top: 0;
  border-left: 0;
}

.tooltip[data-popper-placement^='bottom'] > .tooltip__arrow {
  top: -4px;
}

.tooltip[data-popper-placement^='bottom'] > .tooltip__arrow::before {
  border-right: 0;
  border-bottom: 0;
}

.tooltip[data-popper-placement^='left'] > .tooltip__arrow {
  right: -4px;
}

.tooltip[data-popper-placement^='left'] > .tooltip__arrow::before {
  border-top: 0;
  border-right: 0;
}

.tooltip[data-popper-placement^='right'] > .tooltip__arrow {
  left: -4px;
}

.tooltip[data-popper-placement^='right'] > .tooltip__arrow::before {
  border-bottom: 0;
  border-left: 0;
}

/**
 * TOOLTIP specific styling
 *
 * Should remove the numbering from the lists that come with the linguistic breakdowns
 */
.linguistic-breakdown__breakdown-tail {
  /* Fallback (for Safari) */
  list-style: disc;
  /* What we actually want: (Safari ignores this line) */
  list-style: " – ";
}
