@charset "UTF-8";

@import "./vendor/normalize.css";
@import "./vendor/notosanscanadianaboriginal.css";
@import "./variables.css";
@import "./_tooltip.css";

/**
 * Preliminary styles for the application.
 *
 * This uses the BEM methodology:
 * http://getbem.com/naming/
 */

/**
 * When selecting text on the page, use the branding color as the background,
 * to make selecting things on this page unique!
 */
::selection {
  color: #FFF;
  background-color: var(--app-title-color);
}

/* See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/**
 * Use this template to make your own BEM rule:
 */
.block, .block__element, .block--modifier {
  /* Positioning */
  /* Display & Box Model */
  /* Color */
  /* Text */
  /* Other */
}

/*********************************** APP ***********************************/

/**
 * Set up the root font for the entire page.
 */
:root {
  font-style: normal;
  font-weight: var(--body-font-weight);
  font-size: var(--root-font-size);
  line-height: normal;
  font-family: var(--body-font-family);
}

/**
 * BLOCK app
 *
 * A block containing the ENTIRE application.
 */
.app {
  /* Display & Box Model */
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  /* Color */
  color: var(--app-body-color);
  background: var(--app-bg-color);
}

/**
 * Link styles for the application.
 */
.app a { font-weight: var(--link-font-weight) }
.app a:link { color: var(--link-color) }
.app a:visited { color: var(--link-visited-color) }
.app a:hover { color: var(--link-hover-color) }
.app a:active { color: var(--link-active-color) }

/**
 * ELEMENT app__header
 *
 * The header for the entire application.
 */
.app__header {
  /* Display & Box Model */
  width: 100vw;
  margin: 0 0 .75rem;
}

/**
 * ELEMENT app__content
 *
 * The element containing the main content on display in the application.
 * The contents of this element are expected to change as the user interacts
 * with the application.
 */
.app__content {
  flex: 1;
  margin-top: var(--medium-gap);
}

/**
 * ELEMENT pp__pane
 *
 * Any division of the application that creates a "pane".
 *
 * The header and footer are exceptions to this.
 */
.app__pane {
  padding: 0 var(--page-gutter);
}

/* On larger screens, change to a margin: auto (to horizontally
 * center)/max-width scheme. */
@media (min-width: 768px) {
  .app__pane {
    padding: 0 0;
    margin: auto;
    width: var(--tablet-search-bar-width);
  }
}

@media (min-width: 960px) {
  .app__pane {
    width: var(--desktop-search-bar-width);
  }
}

/********************************* TOP BAR *********************************/

/**
 * BLOCK top-bar
 *
 * A bar that runs across the top of the application.
 */
.top-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
   "logo nav"
   "search search";
}

/**
 * ELEMENT top-bar__logo
 *
 * Where the title (itwêwina -- Plains Cree Dictionary) goes.
 */
.top-bar__logo {
  grid-area: logo;
}

/**
 * ELEMENT top-bar__search
 *
 * Where the search bar.
 */
.top-bar__search {
  grid-area: search;
}

/**
 * ELEMENT top-bar__nav
 *
 * Where the navigation (e.g., language selector) goes.
 */
.top-bar__nav {
  grid-area: nav;

  text-align: right; /* So that it's flush with the right side of the page. */

  padding-right: var(--small-pad);
}

/**
 * The top-bar collapses both the logo, the language picker, AND the search
 * bar all into one long line.
 */
@media (min-width: 960px) {
  .top-bar {
    grid-template-columns: 200px auto 200px;
    grid-template-areas: "logo search nav";
  }
}



/********************************* BRANDING *********************************/

/**
 * BLOCK branding
 *
 * Displays the title and subtitle/tagline of the application.
 */
.branding {
  padding: 0 var(--page-gutter);

  background: transparent;  /* Fallback */
  background: linear-gradient(to right, var(--header-stripe-color) 0%,
                                        var(--header-stripe-color) var(--header-stripe-width),
                                        rgba(0,0,0,0) var(--header-stripe-width),
                                        rgba(0,0,0,0) 100%);
}

/**
 * ELEMENT
 *
 * A heading that makes up the branding.
 */
.branding__heading {
  margin: 0 auto;
}

/* Make the links in the heading look consistent, regardless of its state: */
.branding a:link,
.branding a:hover,
.branding a:hover,
.branding a:visited,
.branding a:active {
  color: inherit;
  text-decoration: none;
}

/**
 * ELEMENT branding__title
 *
 * Contains the primary title of the application.
 * e.g., "itwêwina"
 */
.branding__title {
  /* Color */
  color: var(--app-title-color);

  /* Text */
  font-weight: 400;
  font-size: var(--branding-font-size);
  line-height: normal;
  font-family: var(--heading-font-family);
  letter-spacing: 4px;
}

/**
 * ELEMENT branding__subtitle
 *
 * Contains the subtitle or tagline of the application.
 */
.branding__subtitle {
  /* Text */
  font-weight: var(--body-font-weight);
  font-size: var(--branding-subtitle-font-size);;
}


/********************************** SEARCH **********************************/

/**
 * BLOCK search
 *
 * The main search panel.
 */


/**
 * BLOCK search__search-bar
 *
 * Contains the search bar.
 */
.search__search-bar {
  margin: var(--gap) auto;
  max-width: calc(100vw - 2 * var(--page-gutter));
}

@media (min-width: 768px) {
  .search__search-bar {
    max-width: var(--tablet-search-bar-width);
  }
}

/**
 * The top-bar collapses both the logo, the language picker, AND the search
 * bar all into one long line.
 */
@media (min-width: 960px) {
  .search__search-bar {
    max-width: var(--desktop-search-bar-width);
  }
}

/**
 * ELEMENT advanced search.
 *
 * Shows options for advance search.
 */
.search__advanced  {
  /* Text */
  text-align: right;
}

/**
 * BLOCK search-bar
 *
 * Contains the input and controls to input a search query.
 */
.search-bar {
  /* Positioning */
  position: relative;
  /* Display & Box Model */
  width: 100%;
  /* Text */
  font-size: var(--prominent-font-size);
}

/**
 * ELEMENT search-bar__label
 *
 * The <label> that WRAPS the <input> and label text proper.
 */
.search-bar__label {
  /* Display & Box Model */
  display: inline-block;
  width: 100%;
}

/**
 * ELEMENT search-bar__input
 *
 * The actual input element that the user types the query into.
 */
.search-bar__input {
  /* Display & Box Model */
  padding: var(--small-pad) 1rem;
  padding-right: 1rem;
  border: solid 1px var(--search-border-color);
  width: 100%;

  /* Text */
  text-overflow: ellipsis;

  /* Other */
  border-radius: var(--search-input-border-radius);
  /* Has a nice animation when the search bar receives focus. */
  box-shadow: 0 0 0 transparent;
  transition: box-shadow .125s;
}

/**
 * How to display the placeholder when text has yet to be entered in the
 * search input:
 */
.search-bar__input:placeholder-shown {
  /* Color */
  color: var(--placeholder-text-color);

  /* Text */
  font-style: italic;
  font-weight: var(--body-font-weight);
}

/**
 * Make it abundantly clear that the search input has focus.
 */
.search-bar__input:focus {
  box-shadow: 0 0 0 1px white,
              0 0 0 var(--search-focus-outline-size) var(--search-focus-color);
}

/**
 * ELEMENT search-bar__button
 *
 * The button to press to execute the search.
 */
.search-bar__button {
  position: absolute;
  right: 0;

  display: inline-block;
  height: 100%;
  width: 2em;
  border: 0;

  background: transparent;

  cursor: pointer;
}

.search-bar__button > img {
  margin-top: .125em;
  height: 1.125em;
}

/**
 * Make the search icon look unusable when the user has not typed any query.
 */
.search-bar:invalid .search-bar__button {
  opacity: 0.5;
  cursor: not-allowed;
}


/****************************** SEARCH RESULTS ******************************/

.search-results__results {
  padding: 0;

  list-style: none;
}

.search-results__result {
  margin-top: 19px;
}

.search-results__result:first-of-type {
  margin-top: 0;
}


/******************************** DEFINITION ********************************/

.definition-title {
  font-size: var(--definition-title-size);
}

.definition-title--search-result {
  margin: 0;
}

.definition-title__word {
  /* Text */
  font-style: normal;
  font-weight: var(--strong-font-weight);
}

.definition-title__tooltip-text{
  font-size: 0.5em;
  font-weight: normal;
}

.definition-title__tooltip-icon{
  display: inline-block;
}

.definition-title__tooltip-icon > img {
  width: var(--tooltip-icon-size);
  filter: var(--blue-filter); /* blue color */

  vertical-align: middle;
}

.definition-title__tooltip-icon:focus,
.definition-title__tooltip-icon:focus-within {
  outline: 3px solid var(--search-focus-color);
}

.reference-to-lemma {
  margin: var(--gap) 0 0;

  font-size: var(--reference-to-lemma-size);
  font-style: italic;
}

.definition-title__pos {
  /* Text */
  font-style: normal;
  font-weight: var(--body-font-weight);
}

/**
 * The actual SVG for the 🔊 icon
 */
.definition-title__play-icon {
  width: 100%;
  height: var(--tooltip-icon-size);

  overflow: hidden;
}

/**
 * ELEMENT play-button
 *
 * Should be a button that looks like a link.
 */
.definition-title__play-button {
  /* Reset the button appearance: */
  width: 1em;
  height: 1em;
  padding: 0;
  border: 0;
  margin: 0;

  /* Inline properties: */
  vertical-align: middle;

  /* Color: */
  color: var(--play-button-color);
  background: transparent;

  /* Make it look like a link. */
  cursor: pointer;

  /* Subtle transition when hovering. */
  transition: 0.1s filter;
  filter: brightness(100%);
}

.definition-title__play-button:hover {
  /* Make the button lighter when hovered. */
  filter: brightness(150%);
}

/**
 * BLOCK cleave-inflection-from-lemma
 *
 * Separates the info for the matched wordform/inflection
 * from the defined lemma.
 *
 * It's an <hr>!
 */
.cleave-inflection-from-lemma {
  margin-top: var(--gap);
  color: var(--soft-hr-color);
}

.meanings {
  /* Display & Box model */
  padding: 0;
  margin-top: 1rem; /* give it a little breathing room. */

  /* Text */
  font-size: var(--prominent-font-size);

  /* Other */
  list-style-position: inside;
}

.meanings--search-result {
  /* Display & Box model */
  padding: 0 .5em;

  /* Text */
  font-size: var(--search-result-font-size);
}

.preverb-breakdown {
  padding: 0;
  list-style: none;
  font-size: var(--preverb-breakdown-size);
}

.preverb-breakdown__tooltip-icon {
  display: inline;
  position: relative;
}
.preverb-breakdown__tooltip-icon > img {
  width: var(--tooltip-icon-size);

  /* vertically center the question mark*/
  position: absolute;
  top:0;
  bottom: 0;
  margin: auto;
  /* end vertical centering */

  left:0.2em;  /* space out the question mark */
  filter: var(--blue-filter); /* blue color */
}

/********************************* PARADIGM *********************************/

.paradigm {
  /* Display & Box model */
  border: solid 1px var(--paradigm-border-color);

  /* Color */
  background: var(--box-bg-color);

  /* Other */
  border-radius: var(--border-radius);
}

.paradigm__table {
  /* Display & Box model */
  margin: 0 auto 15px;
  max-width: calc(100% - 2 * 22px); /* Have an 'inner margin' of 22px; */

  /* Text */
  line-height: 1.5;

  /* Other */
  border-spacing: 2em 0.5rem;
}

.paradigm__more-button {
  /* Display & Box model */
  display: block;
  width: 100%;
  border: 0;
  padding-bottom: var(--border-radius);

  /* Color */
  color: #FFF;
  background-color: var(--paradigm-button-color);

  /* Text */
  text-align: center;
  font-weight: inherit;
  line-height: 1.5;

  /* Hack to make the rounded border look like it belongs to the parent. If we
   * don't make the radius a bit tighter, this border protrudes in a weird
   * way. */
  --tighter-br: calc(var(--border-radius) - 2px);
  border-radius: 0 0 var(--tighter-br) var(--tighter-br);
}

.paradigm__more-button::before {
  content: "+ ";
  font-weight: var(--strong-font-weight);
}

.paradigm__panel-description {
  text-align: left;
}

.paradigm-title {
  text-align: center;
  font-family: var(--strong-font-weight);
}

.paradigm-label {
  text-align: left;
}

.paradigm-label--row {
  font-style: italic;
  font-weight: var(--body-font-weight);
}

.paradigm-label--col {
  font-weight: var(--strong-font-weight);
  /* Sometimes the label is too dang wide, so just hide it. */
  overflow-x: ellipsis;
}

.paradigm-cell {
  font-weight: var(--body-font-weight);
}

.paradigm-label--row, .paradigm-cell {
  vertical-align: top; /* When a label applies to multiple wordforms */
}

/********************************** PROSE **********************************/

/**
 * BLOCK prose
 *
 * A big hunk of readable text.
 */
.prose__heading, .prose__section-title {
  font-weight: var(--strong-font-weight);
  font-family: var(--body-font-family);
}

.prose__heading {
  margin: var(--gap) 0 0;

  font-size: var(--prose-heading-font-size);

  color: var(--prose-heading-color);
}

.prose__section-title {
  /* Reset margin. */
  margin: 0;

  font-size: var(--prose-section-title-font-size);

  color: var(--prose-title-color);
}


/* this is anti-BEM, but like, it's body text ¯\_(ツ)_/¯ */
.prose p {
  margin-top: var(--small-pad);
  margin-bottom: 0;
}

/* also anti-BEM ¯\_(ツ)_/¯ */
.prose p [lang],
.prose__heading:not(.no-italics) [lang] {
  font-style: italic;
}


/**************************** APP FOOTER ****************************/

/**
 * BLOCK app-footer
 *
 * The footer at the bottom of the app.
 */
.app-footer {
  /* Display & Box Model */
  width: 100vw;
  margin-top: 1rem;
  margin-block-start: 1rem;
  padding: 1rem var(--page-gutter) var(--small-pad);
  padding-block-start: 1rem;
  padding-inline: var(--page-gutter);
  padding-block-end: var(--small-pad);

  /* Font */
  font-size: var(--footer-font-size);

  /* Color */
  color: var(--footer-text-color);
  background-color: var(--footer-bg-color);
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.1);
}

.app-footer a:link {
  color: var(--footer-text-color);
}

.app-footer__copyright {
  margin-top: 1rem;
  margin-block-start: 1rem;
}

/**
 * BLOCK footer-links
 */
.footer-links {
  display: flex;
  flex-direction: row;
}

.footer-links__list {
  margin: 0;
  margin-left: var(--footer-link-gap);
  margin-inline-start: var(--footer-link-gap);
  padding: 0;

  list-style: none;
}

.footer-links__list:first-of-type {
  margin-left: 0;
  margin-block-start: 0;
}


.footer-links__link {
  font-weight: var(--strong-font-weight);
}

/**
 * BLOCK copyright
 *
 * Write copyright copy.
 */
.copyright__line {
  margin: 0;
  margin-bottom: var(--gap);
  margin-block-end: var(--gap);
}


/**
 * BLOCK partner-logos
 *
 * Contains logos, primarily in the footer.
 */
.partner-logos {
  /* Display & Box Model */
  color: var(--prose-title-color);
  display: grid;
  width: 100%;
  margin-top: var(--small-pad);

  /* Grid */
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: repeat(3, 1fr);
  justify-items: stretch;
  align-items: center;
}

/**
 * ELEMENT partner-logos__logo
 *
 * One particular logo.
 */
.partner-logos__logo {
  /* Display & Box Model */
  margin: var(--small-pad) .5rem;
  /* Text */
  text-align: center;
}

/**
 * Modifier for wide logos (e.g., NRC/SSHRC)
 */
.partner-logos__logo--full-width {
  grid-column: 1 / span 3;
}

.partner-logos__logo:hover {
  /* Make it have a hover effect like a link, to make it look clickable. */
  background-color: var(--link-hover-color);
}

.partner-logos__logo > img {
  max-width: 100%;
  max-height: 8rem;
  vertical-align: middle;
}


/****************************** UTILITY CLASSES *****************************/

.toggle-box__toggle {
  /* Display & Box Model */
  display: block;

  /* Text */
  font-weight: var(--strong-font-weight);
  text-decoration: underline;

  /* Color */
  color: #000;

  /* Other */
  cursor: pointer;
  overflow: hidden; /* Don't affect the layout if the toggle icon overflows its box. */
}

.toggle-box__toggle::-webkit-details-marker {
  display: none;
}

.toggle-box__toggle::after {
  content: url("img/fa/chevron-circle-down.svg");

  display: inline-block;
  width: 0.75rem;
  margin-left: var(--small-pad);

  vertical-align: middle;

  transition: transform .25s;
  transform: rotate(-90deg);
}

.toggle-box[open] > .toggle-box__toggle::after {
  transform: rotate(0);
}

/**
 * Makes the toggle look like a link.
 */
.toggle-box--link-like > .toggle-box__toggle {
  color: var(--link-action-color);
}

/**
 * MODIFIER large
 *
 * A slightly larger toggle-box.
 */
.toggle-box--large > .toggle-box__toggle {
  font-size: var(--toggle-box-large-font-size);
}


/**
 * MODIFIER with-menu
 *
 * Makes it so that the menu can be absolutely positioned.
 */
.toggle-box--with-menu {
  position: relative;
}

.toggle-box__menu {
  position: absolute;
  right: 0;
  z-index: 100;
}

/**
 * Creates an area behind the menu pop-up that, when clicked/touched, will
 * inadvertently toggle the menu away.
 */
.toggle-box[open] > .toggle-box__toggle::before {
  content: " ";

  /* Position */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Display & Box model */
  display: block;
  z-index: 80;

  /* Color */
  background: transparent;

  /* Other */
  cursor: default;
}


/*********************************** MENU ***********************************/

/* TODO: Steal from GitHub's settings page for making an accessible menu! */
/* e.g., https://github.com/eddieantonio/proto-itwewina/settings */
/* See also: https://www.w3.org/TR/wai-aria-practices/examples/menu-button/menu-button-links.html */

.menu {
  min-width: 10rem;
  border: solid 1px rgba(209, 209, 209, 0.33);

  text-align: left;

  background-color: var(--box-bg-color);
  box-shadow: 4px 4px 8px 0 rgba(74, 74, 74, 0.24);

  border-radius: var(--border-radius);
}

.menu__caption {
  color: var(--menu-caption-color);
  padding: 9px;
  margin: 0;

  font-size: 12px;
  font-weight: var(--strong-font-weight);
}

.menu__choices {
  list-style: none;
}

.menu__category, .menu__choices {
  margin: 0;
  padding: 0;
  border: 0;
}

.menu-choice__label {
  display: block;
  padding: 9px;
}

.menu-choice:hover {
  color: var(--menu-hover-color);
  background-color: var(--menu-hover-bg-color);
}

a.menu-choice__label:link,
a.menu-choice__label:visited,
a.menu-choice__label:hover,
a.menu-choice__label:active {
  color: inherit;
  text-decoration: none;
}

.menu-choice--selected {
  font-weight: var(--strong-font-weight);

  background-color: #DEE4F9;
}

/*********************************** BOX ************************************/

/**
 * BLOCK box
 *
 * A panel that stands out from its background, as if it's in a box!
 */
.box {
  padding: var(--medium-gap) var(--page-gutter);
  padding-bottom: 1rem;

  background-color: var(--box-bg-color);

  box-shadow: 0 1px 1px 0 rgba(129, 127, 127, 0.5);
}

.box--rounded {
  border-radius: var(--border-radius);
}

/**
 * MODIFIER spaced
 *
 * Add a little margin AFTER the box.
 */
.box--spaced {
  margin-bottom: 16px;
  margin-block-end: 16px;
}

/**
 * MODIFIER bad-outcome
 *
 * When displaying that something went wrong.
 */
.box--bad-outcome {
  color: var(--bad-outcome-color);
  background-color: var(--bad-outcome-bg-color);
  text-shadow: 1px 1px 0 var(--embossed-highlight),
               2px 2px 2px var(--bad-outcome-shadow);
}

/******************************** ABOUT PAGE ********************************/

/**
 * ELEMENT link
 *
 * A link in the about page should have a heavy font weight.
 */
.about__link {
  font-weight: var(--strong-font-weight);
}

.about__citation {
  font-style: italic;
}


/***************************** SKIP TO CONTENT *****************************/

.skip-to-content {
  position: fixed;
  top: 0;
  left: 0;

  width: 1px;
  height: 1px;
  overflow: hidden;

  font-size: larger;

  background-color: white;
}
.skip-to-content:focus {
  clip: auto;
  z-index: 100;
  width: auto;
  height: auto;
}

@media screen, print {
  .skip-to-content {
    clip: rect(1px, 1px, 1px, 1px);
  }
}


/***************************** SEARCH PROGRESS *****************************/

.search-progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: block;
  width: 100vw;
  height: 1rem;
  border: 0;

  color: var(--app-title-color);
  background-color: var(--footer-text-color);

  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms;
}

.search-progress--loading {
  opacity: 1;
  visibility: visible;
}

.search-progress--error {
  animation: pulse 2s ease infinite alternate;
}

@keyframes pulse {
  from {
    opacity: 0.25
  }
  to {
    opactiy: 1;
  }
}

/******************************* INLINE MARKUP ******************************/

/**
 * BLOCK cite-dict
 *
 * A block that cites a dictionary source.
 */
.cite-dict {
  /* Color */
  color: var(--cite-text-color);
  /* Text */
  font-size: var(--cite-text-font-size);
  font-style: normal;
  font-weight: var(--strong-font-weight);
  vertical-align: middle;
}


.cite-dict--popup{
  /* Color */
  color: var(--cite-text-popup-color);
}

/**
 * BLOCK
 *
 * A title of a citation source.
 */
.source-title {
  font-style: italic;
}

/******************************** UTILITIES *********************************/

/* Links to features we have not implemented yet ¯\_(ツ)_/¯ */
.feature-unavailable {
  display: none;
}

/**
 * ELEMENT sr-only
 *
 * Let something be part of the accessiblity tree without showing it to
 * screens and print.
 */
.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;

  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(1px 1px 1px 1px);
  clip-path: inset(1px 1px 1px 1px);
  pointer-events: none;
}

/**
 * Makes a <button> look like a link.
 */
.unbutton {
  border: 0;

  text-align: inherit;

  color: inherit;
  background: transparent;

  cursor: pointer;
}

/**
 * BLOCK query
 *
 * For showing the user query on the page.
 */
.query {
  font-style: italic;
  quotes: "«" "»";
}

/**
 * Show the quotes to indicate that this is verbatim.
 */
.query::before { content: open-quote; }
.query::after { content: close-quote; }
