/* Links to features we have not implemented yet ¯\_(ツ)_/¯ */
.feature-unavailable {
  display: none;
}

/**
 * ELEMENT sr-only
 *
 * Let something be part of the accessiblity tree without showing it to
 * screens and print.
 */
.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;

  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(1px 1px 1px 1px);
  clip-path: inset(1px 1px 1px 1px);
  pointer-events: none;
}

/**
 * Makes a <button> look like a link.
 */
.unbutton {
  border: 0;

  text-align: inherit;

  color: inherit;
  background: transparent;

  cursor: pointer;
}
