#!/bin/bash

set -e

function run_with_pipenv() {
    CMD=()

    if [ -z "${PIPENV_ACTIVE}" ]; then
        CMD+=(pipenv run)
    fi

    CMD+=("${@}")

    "${CMD[@]}"
}


run_with_pipenv black --check --force-exclude=.git .
run_with_pipenv python -m mypy.dmypy run src
