{% spaceless %}

  {% comment %}
    Citations for a definition.

    Parameters:
      - dictionary_sources: list[str] — a list of dictionary source IDs (abbreviations)

    Outputs a list of citations with bibliographic information in the tooltip.
    Currently this bibliographic citation is **hardcoded into this template**
    for crkeng (itwêwina: the Plains Cree Dictionary). The references are in
    MLA format; however, I decided to hardcode them because there are
    exactly TWO sources and they both have subtly different MLA citation
    format 😖

    Example:

       [CW] [MD]
        ^
      [ Wolvengrey, Arok, editor. /Cree: Words/. 2001. ]
  {% endcomment %}

  {% load morphodict_extras %}

  {% for source in dictionary_sources|sort_sources %}
    {% with id=request|unique_id %}
      <cite class="cite-dict" data-has-tooltip aria-describedby="tooltip:{{ id }}">{{ source }} </cite>

      <div id="tooltip:{{ id }}" class="tooltip" role="tooltip" data-cy="citation-tooltip">
        {% if source == "CW" %}
          <span class="source-title">Cree: Words</span>, by Wolvengrey, Arok, editor.
          Regina, University of Regina Press, 2001.
        {% elif source == "🤖CW" %}
            Experimental automatically inflected form of CW definition
        {% elif source == "MD" %}
          <span class="source-title">Maskwacîs Dictionary</span>.
          Maskwacîs, Maskwachees Cultural College, 1998.
        {% elif source == "🤖MD" %}
            Experimental automatically inflected form of MD definition
        {% elif source == "OS" %}
          <span class="source-title">John Onespot and Edward Sapir: Collected
          Tsuut’ina Narratives and Linguistic Notes</span>, by Starlight, Bruce, Gary Donovan, and Christopher Cox, editors.
          Revised scholarly edition in preparation; 1922.
        {% elif source == "TVPD" %}
            <span class="source-title">Tsuut’ina Verb Phrase Dictionary</span>, by Starlight, Bruce, Gary Donovan, and Christopher Cox, editors.
        {% elif source == "PG24" %}
            <span class="source-title">Tsuut’ina Verb Paradigms</span>, compiled Bruce Starlight and Christopher Cox, editors. Tsuut’ina: unpublished manuscript, 2024.
        {% elif source == "AECD" %}
            <span class="source-title">Alberta Elders' Cree Dictionary/alberta ohci kehtehayak nehiyaw otwestamâkewasinahikan</span>,
            compiled by Nancy LeClaire and George Cardinal, edited by Earle H. Waugh. Edmonton: University of Alberta Press, 2002.
        {% elif source == "🤖AECD" %}
          Experimental automatically inflected form of AECD definition
        {%  elif source == "Lacombe" %}
            <span class="source-title">Dictionnaire de la langue des Cris.</span> by Lacombe, Albert O.M.I.  Montréal, QC: C. O. Beauchemin et Valois, 1874.
        {% elif source == "CCCD" %}
            <span class="source-title">Colin Charles Cree Dictionary</span>, by Charles, C., Goulet, K., and McKenzie, M. Lac La Ronge Indian Band, 2021. 
        {% elif source == "F&R" %}
            <span class="source-title">Blackfoot Dictionary of Stems, Roots, and Affixes (3rd Edition)</span>, by Donald Frantz and Norma Jean Russell. University of Toronto Press, 2017.
        {% elif source == "WN" %}
            <span class="source-title">WordNet: A Lexical Database for English</span>, by George A. Miller, 1995, and <span class="source-title">WordNet: An Electronic Lexical Database</span>, by Christiane Fellbaum, editor, 2001.
        {% elif source == "OPD" %}
            <span class="source-title">Ojibwe People's Dictionary</span>, edited by Nora Livesay and John D. Nichols, with support from the University of Minnesota's Department of American Indian Studies and University Libraries, 2012-2021.
        {% else %}
          UNKNOWN SOURCE ID: {{ source }}. If you're reading this, please
          contact us using the link in the footer, near the bottom of the
          page.
        {% endif %}
        <div class="tooltip__arrow" data-popper-arrow></div>
      </div>
    {% endwith %}
  {% endfor %}
{% endspaceless %}
