{% spaceless %}
  {% comment %}
    ## .definition__icons ##

    Parameters:
      result: SerializedSearchResult

    Example:

      ℹ️ 🔊

  {% endcomment %}

  <div class="definition__icons" data-wordform="{%if main_lemma%}{{ result.lemma_wordform.text }}{% else %}{{ result.wordform_text }}{% endif %}" {% if main_lemma %} data-main-lemma="true" {% endif %}>
    {% include "morphodict/components/linguistic-breakdown.html" %}
    {# NB: 🔊 Recording button is added here dynamically by JavaScript #}
  </div>
{% endspaceless %}
