{% spaceless %}
    {% comment %}
    ## .linguistic-breakdown ##

    Parameters:
      result: SerializedSearchResult

    Example:

                ℹ️
      ,---------^-------.
      | nîmi-           |
      |   action word   |
      |   ni-/ki- word  |
      |   now           |
      |   somebody      |
      `-----------------'

  {% endcomment %}

    {% load morphodict_orth %}
    {% load static %}

    {% if result.friendly_linguistic_breakdown_head or result.friendly_linguistic_breakdown_tail %}
        {% if not main_lemma%}
        <div tabindex="0" class="definition__icon definition-title__tooltip-icon" data-has-tooltip
             data-cy="information-mark">
            <img
                    src="{% static 'morphodict/img/fa/info-circle-solid.svg' %}"
                    alt="linguistic breakdown">
        </div>

        <div class="tooltip" role="tooltip">
            <div data-cy="linguistic-breakdown">
                <ol class="linguistic-breakdown__list">
                    {% for chunk in result.relabelled_fst_analysis %}
                        <li>
                            <data value="{{ chunk.tags }}"> {{ chunk.label }}</data>
                        </li>
                    {% endfor %}
                </ol>
            </div>

            <div class="tooltip__arrow" data-popper-arrow></div>
        </div>
        {% endif %}
        {% include "morphodict/components/related-words.html" with rapidwords=result.lemma_wordform.rapidwords synsets=result.lemma_wordform.synsets text=result.lemma_wordform.text %}
        {# NB: the "Play recording" icon will be appened here #}
    {% endif %}
{% endspaceless %}
