{% extends 'CreeDictionary/base.html' %}

{% block prose %}
{% spaceless %}
<section id="contact-us" class="prose box box--spaced">
  <h2 class="prose__section-title">Contact us</h2>
  <p>Email us at
  <a href="mailto:altlab+itwewina@ualberta.ca" class="about__link">altlab@ualberta.ca</a>.
  Alternatively, you can also use this structured
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSdsBPVPoadoRQEV9ZRKAHbHgolFtmvjWnfpZZYCvX-n2EFwZg/viewform">feedback form</a></a>.
  </p>
  <p> Let us know about any bugs, glitches, issues with the dictionary, or
  incorrect information you find. You can also suggest features and
  improvements. </p>
  </section>
{% endspaceless %}
{% endblock %}

{# vim: set ft=htmldjango et ts=2 sw=2 sts=2 : #}
