{% extends 'CreeDictionary/base.html' %}

{% load morphodict_orth %}
{% load relabelling %}

{% block prose %}
<section id="settings" class="box">
  <h2>Settings</h2>

  <section>
    <h3 id="paradigm-labels" class="setting__title">Paradigm labels</h3>

    <p class="setting__note"> These are the labels that appear on the <strong>paradigm
        table</strong> to label features like person, tense, plurals, etc.</p>

    <form method="POST" action="{% url "cree-dictionary-change-paradigm-label" %}" data-save-preference="paradigmlabel">
      <ul class="unbullet">
      {% for value, label in preferences.paradigm_label.choices_with_labels %}
        <li class="option">
          <label class="option__label">
            <input type="radio" name="paradigmlabel" value="{{ value }}" class="option__control"
                {% if preferences.paradigm_label.current_choice == value %}checked{% endif %}
            >{{ label|capfirst }}</label>
          <p class="option__description">
            Examples:
            {% comment %}<i> is not italic; it's “idiomatic text” ;){% endcomment %}
            <i>{% relabel_one '1Sg' labels=value %}</i>,
            <i>{% relabel_one '2Sg' labels=value %}</i>,
            <i>{% relabel_one '3Sg' labels=value %}</i>;
            <i>{% relabel_one 'Prs' labels=value %}</i>,
            <i>{% relabel_one 'Prt' labels=value %}</i>
          </p>
        </li>
        {% endfor %}
      </ul>

      <div class="action-bar">
        {% csrf_token %}
        <button type="submit"> Save settings </button>
      </div>
    </form>
  </section>
</section>
{% endblock %}
