.detaildiv {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    flex-direction: column;
  }
  .detaildiv table {
    border-collapse: collapse;
    padding: 8px 16px;
  }
  .detaildiv td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

  .detaildiv td:hover {
    background-color: gray;
  }