{% spaceless %}

  {% comment %}
    The button

    Parameters:
      paradigm_size: utils.enums.ParadigmSize

    Example:

        | [       + show more      ] |

    JavaScript hooks:
     - .js-paradigm-size-button: the entire button.
     - .js-plus-minus: the + or - sign in the [± show more/less] button
     - .js-button-text: the text in the [± show more/less] button

  {% endcomment %}

  <button class="paradigm__size-toggle-button js-paradigm-size-button"
         data-cy="paradigm-toggle-button">
      <span class="paradigm__size-toggle-plus-minus js-plus-minus">
        {% if paradigm_size.value == 'LINGUISTIC' %}- {% else %}+ {% endif %}
      </span>
    <span class="paradigm__size-toggle-button-text js-button-text">
        show {% if paradigm_size.value == 'LINGUISTIC' %}less{% else %}more{% endif %}
      </span>
  </button>
{% endspaceless %}